<a href="https://colab.research.google.com/github/acanavire/CD_IA_test/blob/main/Notebooks/2_An%C3%A1lisis_Exploratorio_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ciencia de Datos e Inteligencia Artificial**
# **3. An谩lisis Exploratorio de Datos**

##  Manipulaci贸n de datos

---
##  Pandas  test
---

![image.png]()

**Pandas**

es una librer铆a de Python especializada en la manipulaci贸n y el an谩lisis de datos. Ofrece estructuras de datos y operaciones para manipular los datos, como tablas num茅ricas y series temporales.

**Principales caracter铆sticas**

- **Colecci贸n de estructuras de datos y funciones** que facilitan el trabajo con datos estructurados.

- Nombre derivado de  "**Pan**el **Da**ta **S**ystem" (t茅rmino econom茅trico para datasets multidimensionales).

- Constru铆do **en base a Numpy**, inicialmente por Wes McKinney.
    
- Combina la alta performance de las **operaciones sobre arrays de NumPy con la flexibilidad en la manipulaci贸n de datos** de un hoja de c谩lculo o una base de datos relacional.

- Provee **funcionalidades de indexaci贸n avanzadas** para facilitar la manipulaci贸n, agregaci贸n y selecci贸n de partes de un conjunto de datos.

- Provee **operaciones de agrupaci贸n por columnas, filtros y sumarizaciones**.

- Estas caracter铆sticas hacen de Pandas una librer铆a **indispensable para las tareas de limpieza y preprocesamiento de datos**.

Para cargar el paquete Pandas y comenzar a trabajar con 茅l, importar el paquete. El alias acordado por la comunidad para Pandas es `pd`, por lo que cargar Pandas como `pd` se asume como una pr谩ctica est谩ndar para toda la documentaci贸n de Pandas.

In [ ]:
# Convenci贸n de importaci贸n para Pandas.
import pandas as pd

### Estructuras de datos
---
Para comenzar a usar Pandas, es importante familiarizarse con sus dos estructuras de datos principales:

* Series
* DataFrame

Cuando trabajas con datos tabulares, como datos almacenados en hojas de c谩lculo o bases de datos, Pandas es la herramienta adecuada para ti principalmente porque est谩s estructuras, objetos, presentan m茅todos y atributos que permiten por ejemplo:

* Leer un conjunto de datos.
* Limpiar un conjunto de datos.
* Selecionar, ordenar y remodelar la estructura de un conjunto de datos.
* Aplicar operaciones aritm茅ticas, de texto, de series temporales en un conjunto de datos.
* Visualizar un conjunto de datos.

![estructura de datos.png]()

#### Series
---
- Es un objeto similar a un **vector unidimensional**.
- Colecci贸n de valores que mantiene un orden. Los valores pueden ser de cualquier tipo de datos, como n煤meros enteros, cadenas, objetos de Python, etc.
- Esta formado por una colecci贸n de valores y una colecci贸n de etiquetas de estos valores denominado **铆ndice** (index).



![image.png]()

La serie m谩s simple se forma a partir de una lista de datos.

Si necesitas reforzar sobre las estructuras de datos en Python, mirar la notebook **Fundamentos** de este curso o click en [Estructura de datos de la documentaci贸n oficial de Python](https://docs.python.org/es/3/tutorial/datastructures.html).

In [ ]:
# Pasar como argumento la lista = [4, 17, -51, 3]
s = pd.Series([4, 17, -51, 3])
s

0     4
1    17
2   -51
3     3
dtype: int64

Como no especificamos un 铆ndice para los datos, se crea uno predeterminado que consta de los n煤meros enteros del 0 al N - 1 (donde N es la longitud de los datos). Para el ejemplo la serie tiene una colecci贸n de N=4 valores y el indice es una colecci贸n de enteros de 0 a 3.

Para acceder a la colecci贸n de valores y al indice considerar los atributos de la serie `value` e `index` respectivamente:

In [ ]:
# Colecci贸n de valores
s.values

array([  4,  17, -51,   3])

In [ ]:
# Colecci贸n de etiquetas. Indice
s.index

RangeIndex(start=0, stop=4, step=1)

 **Ejercicio**

Crea tu primera Serie desde la lista [0,'A','B', 4, 2] . Llamar a la variable `tiposdedatos_s`.

```
tiposdedatos_s = ...
```

In [ ]:
# Ejercicio

**Haz doble click para ver la respuesta**

<!--
# Crear serie
tiposdedatos_s = pd.Series( [0,'A','B', 4, 2])

# Mostrar
tiposdedatos_s
 -->

A menudo ser谩 deseable crear una serie con un 铆ndice que identifique cada punto de datos:

In [ ]:
# Crear serie
s = pd.Series ([4, 17, -51, 3], index=['d', 'b', 'a', 'c'])
s

d     4
b    17
a   -51
c     3
dtype: int64

In [ ]:
# Acceder al indice del objeto s
s.index

Index(['d', 'b', 'a', 'c'], dtype='object')

Puedes utilizar valores en el 铆ndice para seleccionar valores individuales o un conjunto de valores de la serie

In [ ]:
# Seleccionar el elemento asociado al valor del indice 'a'
s['a']

-51

In [ ]:
# Seleccionar el elemento asociado al valor del indice ['c', 'a', 'd']
s[['c', 'a', 'd']]

c     3
a   -51
d     4
dtype: int64

In [ ]:
# Serie original
print('Serie original:\n', s)

# Modificar el valor asociado al valor del indice 'd'
s['d'] = 6

# Serie modificada
print('\nSerie modificada:\n', s)

Serie original:
 d     4
b    17
a   -51
c     3
dtype: int64

Serie modificada:
 d     6
b    17
a   -51
c     3
dtype: int64

Las operaciones de array de NumPy, tambi茅n se aplican en serie, como el filtrado con operadores relacional, la multiplicaci贸n por escalar o la aplicaci贸n de funciones matem谩ticas, que preservan el v铆nculo 铆ndice-valor:

In [ ]:
# Serie s
s

d     6
b    17
a   -51
c     3
dtype: int64

In [ ]:
# Filtrar los valores mayores a 0
s[s > 0]

d     6
b    17
c     3
dtype: int64

In [ ]:
# Multiplicar por escalar 2
s * 2

d     12
b     34
a   -102
c      6
dtype: int64

In [ ]:
# Sumar todos los valores
s.sum()

-25

In [ ]:
# Importar librer铆a de Numpy para usar sus funciones definidas
import numpy as np

# Funci贸n exponencial
np.exp(s)

d    4.034288e+02
b    2.415495e+07
a    7.095474e-23
c    2.008554e+01
dtype: float64

Si tiene datos contenidos en un diccionario de Python, puede crear una serie a partir de ellos pasando el diccionario:

In [ ]:
# Diccionario en Python formado por datos de superficies de algunas provincias de Argentina.
# Por cada nombre de provincia un valor de superficie [km虏] asociado.
superficie_dict = {'Buenos Aires': 305907.4, 'C贸rdoba': 164707.8, 'Salta': 155340.5,'Tucum谩n': 22592.1,'La Rioja': 91493.7}

# Serie desde dict
superficie_s = pd.Series(superficie_dict)

# Serie
superficie_s

Buenos Aires    305907.4
C贸rdoba         164707.8
Salta           155340.5
Tucum谩n          22592.1
La Rioja         91493.7
dtype: float64

Cuando solo se pasa un diccionario, el 铆ndice de la serie resultante tendr谩 las claves del diccionario en el orden generado.

In [ ]:
# Crear serie desde un diccionario e indice

# Crear lista de provincias
provincias = ['Buenos Aires', 'C贸rdoba', 'Salta', 'Misiones']

# Crear serie
superficie_s2 = pd.Series(superficie_s, index=provincias)

# Mostrar
superficie_s2

Buenos Aires    305907.4
C贸rdoba         164707.8
Salta           155340.5
Misiones             NaN
dtype: float64

En este caso, se colocaron 3 valores encontrados en superficie_s en las ubicaciones correspondientes, pero como no se encontr贸 ning煤n valor para 'Misiones', aparece como `NaN` (Not a Number), lo que en Pandas se considera para marcar valores faltantes o NA.

Usaremos los t茅rminos "faltante" o "NA" para referirnos a los datos faltantes. Las funciones `isnull` y `notnull` en Pandas se usan para detectar datos faltantes:

In [ ]:
# Usar la funci贸n isnull de Pandas. Se pasa como argumento una serie.
# Se eval煤a si el dato en DataFrame es dato faltante.
pd.isnull(superficie_s2)

Buenos Aires    False
C贸rdoba         False
Salta           False
Misiones         True
dtype: bool

In [ ]:
# Usar la funci贸n notnull de Pandas. Se pasa como argumento una serie.
# Se eval煤a si el dato en DataFrame no es dato faltante.
pd.notnull(superficie_s2)

Buenos Aires     True
C贸rdoba          True
Salta            True
Misiones        False
dtype: bool

La serie tambi茅n tiene estos m茅todos de instancia.

In [ ]:
# Funci贸n isnull de la serie
superficie_s2.isnull()

Buenos Aires    False
C贸rdoba         False
Salta           False
Misiones         True
dtype: bool

M谩s adelante se analizar谩 con m谩s detalle c贸mo trabajar con datos faltantes.

#### DataFrame
---
- Representa una estructura de datos tabular, similar a una hoja de c谩lculo, que contiene una colecci贸n ordenada de columnas, cada una de las cuales puede ser de un tipo de valor diferente (num茅rico, cadena, booleano, etc.).
- El `DataFrame` tiene 铆ndices de columnas y filas.
- Cada columna de un `DataFrame` es una `Serie`.



![image.png]()

Vamos a construir dos instancias de Series:

- `superficie_s`, a partir de un diccionario. Retomamos el ejemplo anterior.

- `poblaci贸n_s`, a partir de dos listas

Luego construimos el DataFrame `provincia_df` a partir de las dos Series.

In [ ]:
# Diccionario en python formado por datos de superficies de algunas provincias de Argentina.
# Por cada nombre de provincia un valor de superficie [km虏] asociado.
superficie_dict = {'Buenos Aires': 305907.4, 'C贸rdoba': 164707.8, 'Salta': 155340.5,'Tucum谩n': 22592.1,'La Rioja': 91493.7}

# Serie desde dict y le agregamos el nombre
superficie_s = pd.Series(superficie_dict, name = 'superficie')

# Serie
superficie_s

Buenos Aires    305907.4
C贸rdoba         164707.8
Salta           155340.5
Tucum谩n          22592.1
La Rioja         91493.7
Name: superficie, dtype: float64

In [ ]:
# Diccionario en python formado por datos de provincias de algunas provincias de Argentina.
# Por cada nombre de provincia un valor de poblaci贸n [km虏] asociado.

# Crear lista 1
provincia_lista = ['Buenos Aires','Salta','C贸rdoba', 'Tucum谩n', 'La Rioja']

# Crear lista 2
provincia_pop = [17541141, 1424397, 3760450, 1694656, 393531]

# Serie de provincias desde dos listas
poblacion_s = pd.Series(provincia_pop, index= provincia_lista, name= 'poblacion')

# Mostrar Serie con el nombre poblacion
poblacion_s

Buenos Aires    17541141
Salta            1424397
C贸rdoba          3760450
Tucum谩n          1694656
La Rioja          393531
Name: poblacion, dtype: int64

In [ ]:
# Mirar atributos de Series
print('Colecci贸n de valores:',poblacion_s.values)
print('Colecci贸n de etiquetas (indice):',poblacion_s.index)

Colecci贸n de valores: [17541141  1424397  3760450  1694656   393531]
Colecci贸n de etiquetas (indice): Index(['Buenos Aires', 'Salta', 'C贸rdoba', 'Tucum谩n', 'La Rioja'], dtype='object')

Para crear un DataFrame desde un diccionario, tener en cuenta que las claves son las etiquetas de las columnas y los valores son los valores de las colecciones asociadas. Para el ejemplo son los valores de las series creadas previamente.

In [ ]:
# Crear Dataframe
provincia_df = pd.DataFrame( {'Poblaci贸n':poblacion_s, 'Superficie(km2)':superficie_s}  )

In [ ]:
# Mostrar
provincia_df

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
La Rioja         393531          91493.7
Salta           1424397         155340.5
Tucum谩n         1694656          22592.1

In [ ]:
# Si quisieramos crear desde listas  pero ojo con el indice
# provincia_df2 = pd.DataFrame( {'Poblaci贸n': [17541141, 1424397, 3760450, 1694656, 393531], 'Superficie(km2)':[305907.4,164707.8,91493.7,155340.5, 22592.1]}  )

 **Ejercicio**

Crea tu primer DataFrame desde un diccionario. Llamar a la variable `estudiantes_df`. Utilizar el siguiente c贸digo:


```
# Importar librer铆a numpy para llamar a random
import numpy as np

# Diccionario est_d

est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol'],
  'Edad': np.random.random_integers(18,50,4)
}
```

In [ ]:
# Ejercicio

**Haz doble click para ver la respuesta**
<!--
# Importar librer铆a numpy para llamar a random
import numpy as np

# Diccionario est_d

est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol'],
  'Edad': np.random.random_integers(18,50,4)
}

# Crear DataFrame
estudiantes_df = pd.DataFrame(est_d)

# Mostrar
estudiantes_df
-->

El 铆ndice del DataFrame resultante se crea en base a los indices de las series (que son los nombres de las provincias), y las columnas se organizan en el orden en como se asigno las claves del diccionario. Si no se especificar谩, se generar谩 un indice autom谩ticamente como en el caso de Series.

Las columnas del DataFrame resultante tienen diferentes tipos de datos:

In [ ]:
# dtypes
provincia_df.dtypes

Poblaci贸n            int64
Superficie(km2)    float64
dtype: object

 **Nota**

En su mayor parte, Pandas utiliza arrays y tipos de datos de NumPy para las series o las columnas individuales de un DataFrame. NumPy ofrece compatibilidad con float, int, bool, timedelta64[ns] y datetime64[ns]. Para m谩s informaci贸n click en [dtypes en documentaci贸n oficial de Pandas](https://Pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes) (ingl茅s).

**Atributos y datos subyacentes de DataFrame**

In [ ]:
# Ver tupla que representa la dimensionalidad del DataFrame.
# (cantidad de filas, cantidad de columnas)
provincia_df.shape

(5, 2)

In [ ]:
# Ver 铆ndice (etiquetas de fila) del DataFrame.
provincia_df.index

Index(['Buenos Aires', 'C贸rdoba', 'La Rioja', 'Salta', 'Tucum谩n'], dtype='object')

In [ ]:
# Ver las etiquetas de las columnas del DataFrame.
provincia_df.columns

Index(['Poblaci贸n', 'Superficie(km2)'], dtype='object')

In [ ]:
# Ver los valores del Dataframe. Devuelve una representaci贸n Numpy del DataFrame.
provincia_df.values

array([[17541141. ,   305907.4],
       [ 3760450. ,   164707.8],
       [  393531. ,    91493.7],
       [ 1424397. ,   155340.5],
       [ 1694656. ,    22592.1]])

### Indexaci贸n y selecci贸n de datos
---

Cada columna en un `DataFrame` es una `Serie`. Para acceder a una columna :

In [ ]:
# Acceder a los datos de la columna cuya etiqueta es 'Poblaci贸n'
provincia_df['Poblaci贸n']

Buenos Aires    17541141
C贸rdoba          3760450
La Rioja          393531
Salta            1424397
Tucum谩n          1694656
Name: Poblaci贸n, dtype: int64

In [ ]:
# Como serie se puede llamar a sus atributos y m茅todos
print('Valores de la serie' , provincia_df['Poblaci贸n'].values)
print('Suma de los valores de la serie' , provincia_df['Poblaci贸n'].sum())

Valores de la serie [17541141  3760450   393531  1424397  1694656]
Suma de los valores de la serie 24814175

In [ ]:
# Otra forma
# provincia_df.Poblaci贸n

In [ ]:
# Acceder al dato de la columna cuya etiqueta es 'Poblaci贸n' y fila cuya etiqueta es 'Buenos Aires' (ver indice del DataFrame)
provincia_df['Poblaci贸n']['Buenos Aires']

17541141

In [ ]:
# Otra forma
provincia_df.Poblaci贸n['Buenos Aires']

17541141

Las filas tambi茅n se pueden recuperar por posici贸n o nombre mediante un par de m茅todos. Usando las posiciones y el m茅todo `iloc` o las etiquetas y el m茅todo `loc`.

`iloc` se basa principalmente en la posici贸n de n煤meros enteros pero tambi茅n se puede utilizar con un array booleano.

**Indexaci贸n de sola las filas**

In [ ]:
# N煤mero entero - escalar
# Fila en la posicion 0
provincia_df.iloc[0]

Poblaci贸n          17541141.0
Superficie(km2)      305907.4
Name: Buenos Aires, dtype: float64

In [ ]:
# Lista de n煤meros enteros [0]
provincia_df.iloc[[0]]

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4

In [ ]:
# Lista de n煤meros enteros [0,2] , filas de la posici贸n 0 y posici贸n 3

provincia_df.iloc[[0,3]]

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
Salta           1424397         155340.5

In [ ]:
# Con un objeto de corte (slice)
#  [ini:fin:pasos]
provincia_df.iloc[:3:]

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
La Rioja         393531          91493.7

In [ ]:
# Con una m谩scara booleana de la misma longitud que el 铆ndice. En este caso indice es para las 5 filas
provincia_df.iloc[[True, False, False, False, False]]

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4

**Indexaci贸n por fila y columna**

Puede combinar los tipos de indexadores para el 铆ndice y las columnas.

In [ ]:
# Datos de la fila en posici贸n 0 y columna en posici贸n 1
provincia_df.iloc[0 , 1]

305907.4

In [ ]:
# Datos de las filas en posici贸n 0 y 2, columna en posici贸n 1
provincia_df.iloc[[0,2] , 1]

Buenos Aires    305907.4
La Rioja         91493.7
Name: Superficie(km2), dtype: float64

In [ ]:
# Con objeto de corte filas y columnas [ini:fin:pasos , ini:fin:pasos]
provincia_df.iloc[:3, :1]

              Poblaci贸n
Buenos Aires   17541141
C贸rdoba         3760450
La Rioja         393531

`loc` permite el acceso a un grupo de filas y columnas por etiqueta(s) o un array booleano.

In [ ]:
# Ver df
provincia_df

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
La Rioja         393531          91493.7
Salta           1424397         155340.5
Tucum谩n         1694656          22592.1

In [ ]:
# Etiqueta de fila (indice)
provincia_df.loc['Salta']

Poblaci贸n          1424397.0
Superficie(km2)     155340.5
Name: Salta, dtype: float64

In [ ]:
# Lista de etiquetas de filas
provincia_df.loc[['Salta','Buenos Aires']]

              Poblaci贸n  Superficie(km2)
Salta           1424397         155340.5
Buenos Aires   17541141         305907.4

In [ ]:
# Etiqueta de fila y columna [ etiqueta fila (indice) , etiqueta columna ]
provincia_df.loc['Salta' ,'Poblaci贸n']

1424397

In [ ]:
# Por lista de etiquetas
provincia_df.loc[['Salta','Buenos Aires'], ['Poblaci贸n']]

              Poblaci贸n
Salta           1424397
Buenos Aires   17541141

In [ ]:
# Por objeto de corte
provincia_df.loc[:'Salta':, :'Poblaci贸n']

              Poblaci贸n
Buenos Aires   17541141
C贸rdoba         3760450
La Rioja         393531
Salta           1424397

In [ ]:
# Lista booleana con la misma longitud que el eje de filas o columnas
provincia_df.loc[[True, False,False,False,False],[True,False]]

              Poblaci贸n
Buenos Aires   17541141

* La principal diferencia que existe entre loc e iloc es que en loc se usan las etiquetas (los nombres asignados tanto a las filas como a las columnas) mientras que en iloc se usan las posiciones de los elementos (la posici贸n en la fila o la columna, comenzado a contar en 0).

Podemos indexar un DataFrame usando loc y m谩scaras booleanas

In [ ]:
# Filtro por operador relacional. 'Superficie(km2)' > 148008
provincia_df['Superficie(km2)'] > 148008

Buenos Aires     True
C贸rdoba          True
La Rioja        False
Salta            True
Tucum谩n         False
Name: Superficie(km2), dtype: bool

In [ ]:
# Por m谩scara
provincia_df.loc[provincia_df['Superficie(km2)'] > 148008, ['Poblaci贸n', 'Superficie(km2)']]

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
Salta           1424397         155340.5

In [ ]:
provincia_df.loc[provincia_df['Superficie(km2)'] > 148008, ['Poblaci贸n']]

              Poblaci贸n
Buenos Aires   17541141
C贸rdoba         3760450
Salta           1424397

 **Ejercicio**

Para el DataFrame `provincia_df`, seleccionar las filas cuyos valores de la  columna 'Poblaci贸n' sea mayor o igual a 3 millones (3000000) .

In [ ]:
# Ejercicio

**Haz doble click para ver la respuesta**

<!--
provincia_df.loc[provincia_df['Poblaci贸n'] > 3000000]
-->

Si se desea guardar los datos filtrados del dataframe se puede asignar el resultado del filtrado a una variable

In [ ]:
# Nuevo DataFrame
provincia_cota_df = provincia_df.loc[provincia_df['Superficie(km2)'] > 148008, ['Poblaci贸n']]

# Mostrar
provincia_cota_df

              Poblaci贸n
Buenos Aires   17541141
C贸rdoba         3760450
Salta           1424397

Otros m茅todos para la selecci贸n de valores que devuelve un subconjunto de los datos son `where`, `mask`, y `query`.

In [ ]:
# where() para reemplazar valores donde la condici贸n sea Falso.
# provincia_df['Superficie(km2)'] > 148008 si es falso los valores ser谩n 0
provincia_filtro_df1 = provincia_df.where(provincia_df['Superficie(km2)'] > 148008, 0 )

# Mostrar
provincia_filtro_df1

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
La Rioja              0              0.0
Salta           1424397         155340.5
Tucum谩n               0              0.0

In [ ]:
# mask reemplaza los valores donde la condici贸n sea Verdadera.
# provincia_df['Superficie(km2)'] > 148008 si es falso los valores ser谩n 0
provincia_filtro_df2 = provincia_df.mask(provincia_df['Superficie(km2)'] > 148008, 0 )

# Mostrar
provincia_filtro_df2

              Poblaci贸n  Superficie(km2)
Buenos Aires          0              0.0
C贸rdoba               0              0.0
La Rioja         393531          91493.7
Salta                 0              0.0
Tucum谩n         1694656          22592.1

In [ ]:
# query para consultar las columnas de un DataFrame con una expresi贸n booleana.
provincia_df.query('`Superficie(km2)` > 148008') # es igual a provincia_df[provincia_df['Superficie(km2)']> 148008]

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
Salta           1424397         155340.5

### Funciones aritm茅ticas y mapeo con Pandas
---

In [ ]:
# Ver DataFrame
provincia_df

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
La Rioja         393531          91493.7
Salta           1424397         155340.5
Tucum谩n         1694656          22592.1

Operanciones aritm茅ticas

In [ ]:
# Suma por escalar
provincia_df['Superficie(km2)'] + 10

Buenos Aires    305917.4
C贸rdoba         164717.8
La Rioja         91503.7
Salta           155350.5
Tucum谩n          22602.1
Name: Superficie(km2), dtype: float64

In [ ]:
# Dividir los valores de la columna ' Poblaci贸n' por la columna 'Superficie(km2)'
provincia_df['Poblaci贸n'] / provincia_df['Superficie(km2)']

Buenos Aires    57.341343
C贸rdoba         22.831038
La Rioja         4.301181
Salta            9.169515
Tucum谩n         75.010999
dtype: float64

Funciones aritm茅ticas

In [ ]:
# Suma de los valores sobre el eje solicitado. Por defecto se aplica sobre las filas.
provincia_df.sum(axis=0)

Poblaci贸n          24814175.0
Superficie(km2)      740041.5
dtype: float64

En Pandas:

* axis=0 significa a lo largo de "铆ndices". Es una operaci贸n por filas.
* axis=1 significa a lo largo de "columnas". Es una operaci贸n por columnas.

In [ ]:
# Media de los valores sobre el eje solicitado. Por defecto se aplica sobre las filas.
provincia_df.mean()

Poblaci贸n          4962835.0
Superficie(km2)     148008.3
dtype: float64

In [ ]:
# Combinar operaciones.
# Por ejemplo estandarizaci贸n (representar los datos con una media cero y una desviaci贸n est谩ndar de 1), de forma muy concisa:
(provincia_df - provincia_df.mean()) / provincia_df.std()

              Poblaci贸n  Superficie(km2)
Buenos Aires   1.762440         1.502305
C贸rdoba       -0.168475         0.158885
La Rioja      -0.640239        -0.537699
Salta         -0.495797         0.069761
Tucum谩n       -0.457929        -1.193252

`map` aplica una funci贸n a un DataFrame elemento por elemento.
Este m茅todo aplica una funci贸n que acepta y devuelve un escalar a cada elemento de un DataFrame.

Podemos hacerlo utilizando funciones "lambda". Se utilizan para crear funciones an贸nimas. La expresi贸n

```
lambda argumento(s) : expresion
```
Genera un objeto de funci贸n. El objeto sin nombre se comporta como un objeto de funci贸n definido con:

```
def <lambda>(parametros):
    return expresion
```
Para m谩s informaci贸n sobre `lambda`, click en [expresiones lambda en documentaci贸n oficial](https://docs.python.org/3/reference/expressions.html#lambda)

In [ ]:
# con funciones lambda.
provincia_df.map(lambda x: round(x,2))

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
La Rioja         393531          91493.7
Salta           1424397         155340.5
Tucum谩n         1694656          22592.1

In [ ]:
# Tambi茅n es posible utilizar el mapa con funciones que no son funciones lambda:
provincia_df.map(round, ndigits=1)

              Poblaci贸n  Superficie(km2)
Buenos Aires   17541141         305907.4
C贸rdoba         3760450         164707.8
La Rioja         393531          91493.7
Salta           1424397         155340.5
Tucum谩n         1694656          22592.1

 `apply`es una funci贸n a lo largo de un eje del DataFrame.

Los objetos que se pasan a la funci贸n son objetos Series cuyo 铆ndice es el 铆ndice del DataFrame (axis=0) o las columnas del DataFrame (axis=1).

Para m谩s informaci贸n, click en [apply en documento oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [ ]:
# Numpy
import numpy as np

# Aplicar suma por eje fila, axis = 0.
provincia_df.apply(np.sum, axis=0)

Poblaci贸n          24814175.0
Superficie(km2)      740041.5
dtype: float64

In [ ]:
# Aplicar suma por eje fila, axis = 1.
provincia_df.apply(np.sum, axis=1)

Buenos Aires    17847048.4
C贸rdoba          3925157.8
La Rioja          485024.7
Salta            1579737.5
Tucum谩n          1717248.1
dtype: float64

In [ ]:
provincia_df['Superficie(km2)'].apply(round,ndigits=1)

Buenos Aires    305907.4
C贸rdoba         164707.8
La Rioja         91493.7
Salta           155340.5
Tucum谩n          22592.1
Name: Superficie(km2), dtype: float64

###  Recordatorio

* Importar el paquete, tambi茅n conocido como `import pandas as pd`

* Una tabla de datos se almacena como un `DataFrame` de pandas

* Cada columna de un `DataFrame` es una `Series`

* Puedes hacer operaciones sobre los datos aplicando un m茅todo a un `DataFrame` o una `Series`

### Ejercicio

Crea una Serie a partir de una lista de 4 nombres y asigna un indice personalizado. Tener en cuenta lo siguiente:
* La serie se guarda en la variable 'nombre_s' .
* El indice personalizado se corresponde a ['a','k','l','c]]

In [ ]:
nombre_s=pd.Series(['Luc铆a','Sandra','Lucas','Marcos'], index=['a','k','l','c'])

NameError: name 'pd' is not defined

En base a la serie anterior, acceder al nombre que se corresponde al indice 'k'. Imprimir en pantalla

In [ ]:
print("Valor en 铆ndice 'c':", serie["c"])

---
##  Manipulaci贸n de datos
---

Python se ha convertido en un lenguaje muy apreciado para la manipulaci贸n de textos y archivos debido a su sintaxis sencilla para interactuar con archivos, estructuras de datos intuitivas y funciones pr谩cticas para procesar los datos.

A continuaci贸n exploraremos e integraremos tecnolog铆as con Python para responder:

* Importar y exportar conjuntos de datos.
* Ordenar los conjuntos de datos y remodelar su estructura en un formato adecuado para el an谩lisis.

###  驴C贸mo leo y escribo datos tabulares?
---
Pandas admite la integraci贸n con muchos formatos de archivos o fuentes de datos de forma predeterminada (csv, excel, sql, json,  etc.). La importaci贸n de datos desde cada una de estas fuentes de datos se realiza mediante una funci贸n con el prefijo `read_*`. De manera similar, los m茅todos `to_*` se utilizan para almacenar datos.

####  Google Drive
---

Con ayuda del siguiente c贸digo, si trabaja  con google Colab, podr谩s vincular tu cuenta de Google Drive.

Como recomendaci贸n sugerimos tener una carpeta asociada a tu proyecto y dentro de ella otra carpeta denominada `Data` con los archivos que necesites utilizar.

[Carpeta d贸nde est谩n los dataset](https://drive.google.com/open?id=1bVRLtDii8IpJNOEMT67W3Cwq8yhRxT7r&usp=drive_copy)

Con el siguiente comando podr谩s abrir el archivo que vamos a necesitar en 茅sta ocasi贸n, recuerde validar la ruta de Directorio:

In [ ]:
# Importar librer铆a para trabajar con google colab
from google.colab import drive

# Montar drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Configurar para trabajar con las carpetas que alojan los datos y notebook.
import os
# os.chdir() cambia el directorio de trabajo actual a una ruta espec铆fica.
os.chdir('/content/drive/MyDrive/cs_ia_2024/POC - curso_on_demand/Contenido para plataforma/CDIA - contenido/Data/') #cambia el directorio de trabajo actual a una ruta espec铆fica

#### Importar archivos
---

Para explorar los m茅todos de Pandas `read_*` vamos a utilizar el conjunto de datos denominados *winemag-data-130k-v2*.

Luego entraremos m谩s en detalle en que consiste este conjunto de datos, por lo pronto, identifiquemos m茅todos importantes para trabajar con DataFrame.

##### Archivos csv
Utiliza `read_csv()` con la ruta al archivo CSV para leer un archivo de valores separados por comas

In [ ]:
# Importar libreria
import pandas as pd

In [ ]:
# Leer los datos desde archivo csv. Este archivo se encuentra en la carpeta Data
# El argumento por defecto sep = ,, pero si el archivo presenta otro separador , indicar en funci贸n
datoscsv_df = pd.read_csv('winemag-data-130k-v2.csv')

# Mostrar los primeros registros del dataframe. Por defecto 5 registros
datoscsv_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OKeefe,@kerinokeefe,Nicosia 2013 Vulk Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Otra opci贸n para evitar columnas

In [ ]:
# Leer los datos desde archivo csv. Este archivo se encuentra en la carpeta Data
# El argumento por defecto sep = ,

datoscsv_df = pd.read_csv('winemag-data-130k-v2.csv', index_col='Unnamed: 0')

# Mostrar los primeros registros del dataframe. Por defecto 5 registros
datoscsv_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OKeefe,@kerinokeefe,Nicosia 2013 Vulk Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Para m谩s informaci贸n click en [read_csv en documentaci贸n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv)

##### Archivos Excel

Leer archivos excel (tanto XLS como XLSX) es tan f谩cil como la funci贸n `read_excel()`, con la ruta del archivo como entrada.

In [ ]:
# Leer los datos desde archivo xlsx. Este archivo se encuentra en la carpeta Data
# Soporta  xls, xlsx, xlsm, xlsb, odf, ods y odt
datosxlsx_df = pd.read_excel('winemag-data-130k-v2.xlsx') # sheet_name='hoja1'

# Mostrar los primeros registros del dataframe. Por defecto 5 registros
datosxlsx_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OKeefe,@kerinokeefe,Nicosia 2013 Vulk Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Leer archivos Excel con varias hojas no es tan diferente. Solo tienes que especificar un argumento adicional, `sheet_name`, en el que puedes pasar una cadena para el nombre de la hoja o un n煤mero entero para la posici贸n de la hoja.

Para m谩s informaci贸n sobre m茅todos de lectura click en [Funciones de lectura](https://pandas.pydata.org/docs/user_guide/io.html) y  [read_excel en documentaci贸n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

#### Exportar archivos
---

Pandas te permite exportar datos a varios formatos. Esto ocurre especialmente cuando los datos se transforman mediante pandas y necesitan guardarse localmente en tu m谩quina. A continuaci贸n se explica c贸mo convertir los DataFrames de pandas a csv y excel.

In [ ]:
# to_csv
# Guardar datoscsv_df como archivo CSV . Controlar la ruta de directorio
# Los argumentos incluyen el nombre del archivo con la ruta y index - donde index = True implica escribir el 铆ndice del DataFrame.
datoscsv_df.to_csv("winemag-data-130k-v2_DF.csv", index=False)

In [ ]:
# to_excel() desde el objeto DataFrame para guardarlo como un archivo .xls o .xlsx.
datosxlsx_df.to_excel("winemag-data-130k-v2_DF.xlsx", index=False)

驴C贸mo verific贸 inicialmentes los datos almacenados en el `DataFrame` ?
---

Continuaremos trabajando con el conjunto de datos `winemag-data-130k-v2.csv`.


* Los datos fueron escrapeados de un sitio determinado(WineEnthusiast) de vino en el a帽o 2017.
* Corresponde a 130.000 rese帽as de vinos con caracter铆sticas sobre la variedad, ubicaci贸n, bodega, precio y descripci贸n del vino.

Para m谩s informaci贸n click en [Rese帽a de vino en Kaggle](https://www.kaggle.com/zynicide/wine-reviews/)

**Descripci贸n del conjunto de Datos**
* country: El pa铆s de origen del vino.
* description
* designation: El vi帽edo dentro de la bodega de donde provienen las uvas que hicieron el vino.
* points: La cantidad de puntos que WineEnthusiast calific贸 al vino en una escala de 1 a 100 (aunque dicen que solo publican rese帽as de vinos que punt煤an &gt;=80).
* price: El costo de una botella de vino.
* province: La provincia o estado de donde proviene el vino.
* region_1: La zona de cultivo de vino en una provincia o estado (por ejemplo, Napa).
* region_2: A veces, hay regiones m谩s espec铆ficas especificadas dentro de una zona de cultivo de vino (por ejemplo, Rutherford dentro del Valle de Napa), pero este valor a veces puede estar en blanco.
* taster_name
* taster_twitter_handle
* title: El t铆tulo de la rese帽a del vino.
* variedad: El tipo de uva utilizada para hacer el vino (por ejemplo, Pinot Noir).
* winery: La bodega que elabor贸 el vino.

In [ ]:
# Leer datos
rev_vino_df = pd.read_csv('winemag-data-130k-v2.csv', index_col='Unnamed: 0')

Para comprobar los datos despu茅s de leerlos. Se puede utilizar `head` que muestra de forma predeterminada las primeras 5 filas o `tail` que muestras las 煤ltimas 5 filas.

In [ ]:
# Ver 5 primeras filas
rev_vino_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OKeefe,@kerinokeefe,Nicosia 2013 Vulk Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Si quiero ver las primeras 2 filas

In [ ]:
# Primeras 2 filas
rev_vino_df.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OKeefe,@kerinokeefe,Nicosia 2013 Vulk Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [ ]:
# Ver 2 煤ltimas filas
rev_vino_df.tail(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuv茅e Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuv茅e Car...,Gew眉rztraminer,Domaine Schoffit

Se puede comprobar como Pandas interpret贸 cada uno de los tipos de datos de la columna solicitando el atributo `dtypes` del objeto :

In [ ]:
rev_vino_df.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

En la secci贸n estad铆stica descriptiva, estaremos explorando los tipos de variables para poder analizar mejor esta informaci贸n.

Pero en base a los tipos de datos que se cargaron en el Dataframe:
* pa铆s, descripci贸n, designaci贸n, provincia, regi贸n_1, regi贸n_2, catador_nombre,
catador_usuario_twitter, t铆tulo, variedad, bodega son de cadena (objeto).
* puntos y precio son n煤mericos.

Para verificar que estos datos estan correctos, trabajar con la documentaci贸n que explique en que consiste cada columna, que luego trataremos como variable.

Para reforzar los tipos de datos en python ver las secci贸n de Fundamentos.

Para obtener un resumen t茅cnico del DataFrame que almacena al conjunto de datos, usar el m茅todo `info`

In [ ]:
rev_vino_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

En base a la informaci贸n compartido por `info`, para el DataFrame:

* Hay 129908 entradas, es decir, 129908 filas.

* Cada fila tiene una etiqueta de fila (tambi茅n conocida como 铆ndice) con valores que van de 0 a 129970.

* La tabla tiene 13 columnas. La mayor铆a de las columnas tienen un valor para cada una de las filas (los 129970 valores no son nulos). Algunas columnas tienen valores faltantes y menos de 129970 valores no nulos.
  
  * En la secci贸n Datos faltantes profundizaremos en el analisis de est谩 informaci贸n

* El tipo de datos (objetos, enteros, ...) en las diferentes columnas se resumen enumerando los tipos de datos.

* Tambi茅n se proporciona la cantidad aproximada de RAM utilizada para almacenar el DataFrame.

In [ ]:
# Funcion analisis descriptivo basico base de datos:
def resumen_inicial(datos):
    print("Primeras 5 filas")
    display(datos.head())
    print("-----------------------------------------------------------------")
    print("")

    print("Nombre de columnas")
    display(datos.columns)
    print("-----------------------------------------------------------------")
    print("")

    print("Dimensi贸n")
    display(datos.shape)
    print("-----------------------------------------------------------------")
    print("")

    print("Resumen t茅cnico")
    display(datos.info())
    print("-----------------------------------------------------------------")
    print("")


    print("Datos Faltantes")
    display(datos.isna().sum())
    print("-----------------------------------------------------------------")
    print("")

Existen distintas funciones para explorar el conjunto de datos en el DataFrame. Teniendo en cuenta la funci贸n creada `descriptivo`, ordenamos la informaci贸n que proporcionan diferentes m茅todos de Pandas.

In [ ]:
resumen_inicial(rev_vino_df)

Primeras 5 filas

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OKeefe,@kerinokeefe,Nicosia 2013 Vulk Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

-----------------------------------------------------------------

Nombre de columnas

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

-----------------------------------------------------------------

Dimensi贸n

(129971, 13)

-----------------------------------------------------------------

Resumen t茅cnico
<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

None

-----------------------------------------------------------------

Datos Faltantes

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

-----------------------------------------------------------------

### 驴C贸mo selecciono un subconjunto de datos de un DataFrame?
---

Deseamos seleccionar los puntos asignados a los vinos (points). Recordemos
points representa laa cantidad de puntos que WineEnthusiast calific贸 al vino en una escala de 1 a 100 (aunque dicen que solo publican rese帽as de vinos que punt煤an >=80).

In [ ]:
# Seleccionar caracter铆sticas
punto = rev_vino_df["points"]

# Observamos los primeros 5 valores
punto.head()

0    87
1    87
2    87
3    87
4    87
Name: points, dtype: int64

Cada columna de un DataFrame es una serie. Si se selecciona una sola columna, el objeto devuelto es una serie de pandas.

Ahora nos interesa los puntos (points) y el p谩is (country) de los vinos del conjunto de datos. Recordemo  que country representa el pa铆s de origen del vino.

In [ ]:
# Seleccionar valores de pais y punto del conjunto de datos
rev_vino_df[["country","points"]]

         country  points
0          Italy      87
1       Portugal      87
2             US      87
3             US      87
4             US      87
...          ...     ...
129966   Germany      90
129967        US      90
129968    France      90
129969    France      90
129970    France      90

[129971 rows x 2 columns]

La selecci贸n devolvi贸 un DataFrame. Para verificarlo, se puede utilizar la funci贸n de Pandas `type`

In [ ]:
type(rev_vino_df[["country","points"]])

pandas.core.frame.DataFrame

Vimos que en en Pandas podemos filtrar por m谩scara.
Seleccionamos todos los vinos con cuyo puntos correspondan al m谩ximo punto del conjunto de datos.

Busco el valor m谩ximo en puntos.

In [ ]:
# Llamar a la funci贸n max
rev_vino_df["points"].max()

100

In [ ]:
# Definir la m谩scara de filtro
max_mascara = rev_vino_df["points"] == rev_vino_df["points"].max()

# Mostrar m谩scara
max_mascara

0         False
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: points, Length: 129971, dtype: bool


La salida de la expresi贸n condicional (==, pero tambi茅n  !=, <,>, <=, funcionar铆a) es en realidad una serie de valores booleanos de pandas (ya sea Verdadero o Falso) con la misma cantidad de filas que el DataFrame original. Dicha serie de valores booleanos se puede utilizar para filtrar el DataFrame coloc谩ndolo entre los corchetes de selecci贸n []. Solo se seleccionar谩n las filas para las que el valor sea Verdadero.

In [ ]:
# Guardar y seleccionar vinos en base a la condici贸n  m谩scara
maxPun_vino_df = rev_vino_df[max_mascara]

# Mostrar
maxPun_vino_df

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
7335,Italy,Thick as molasses and dark as caramelized brow...,Occhio di Pernice,100,210.0,Tuscany,Vin Santo di Montepulciano,NaN,NaN,NaN,Avignonesi 1995 Occhio di Pernice (Vin Santo ...,Prugnolo Gentile,Avignonesi
36528,France,This is a fabulous wine from the greatest Cham...,Brut,100,259.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Krug 2002 Brut (Champagne),Champagne Blend,Krug
39286,Italy,"A perfect wine from a classic vintage, the 200...",Masseto,100,460.0,Tuscany,Toscana,NaN,NaN,NaN,Tenuta dell'Ornellaia 2007 Masseto Merlot (Tos...,Merlot,Tenuta dell'Ornellaia
42197,Portugal,This is the latest release of what has long be...,Barca-Velha,100,450.0,Douro,NaN,NaN,Roger Voss,@vossroger,Casa Ferreirinha 2008 Barca-Velha Red (Douro),Portuguese Red,Casa Ferreirinha
45781,Italy,"This gorgeous, fragrant wine opens with classi...",Riserva,100,550.0,Tuscany,Brunello di Montalcino,NaN,Kerin OKeefe,@kerinokeefe,Biondi Santi 2010 Riserva (Brunello di Montal...,Sangiovese,Biondi Santi
45798,US,Tasted in a flight of great and famous Napa wi...,NaN,100,200.0,California,Napa Valley,Napa,NaN,NaN,Cardinale 2006 Cabernet Sauvignon (Napa Valley),Cabernet Sauvignon,Cardinale
58352,France,"This is a magnificently solid wine, initially ...",NaN,100,150.0,Bordeaux,Saint-Julien,NaN,Roger Voss,@vossroger,Ch芒teau L茅oville Barton 2010 Saint-Julien,Bordeaux-style Red Blend,Ch芒teau L茅oville Barton
89728,France,This latest incarnation of the famous brand is...,Cristal Vintage Brut,100,250.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Louis Roederer 2008 Cristal Vintage Brut (Cha...,Champagne Blend,Louis Roederer
89729,France,This new release from a great vintage for Char...,Le Mesnil Blanc de Blancs Brut,100,617.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Salon 2006 Le Mesnil Blanc de Blancs Brut Char...,Chardonnay,Salon
111753,France,"Almost black in color, this stunning wine is g...",NaN,100,1500.0,Bordeaux,Pauillac,NaN,Roger Voss,@vossroger,Ch芒teau Lafite Rothschild 2010 Pauillac,Bordeaux-style Red Blend,Ch芒teau Lafite Rothschild
111754,Italy,It takes only a few moments before you appreci...,Cerretalto,100,270.0,Tuscany,Brunello di Montalcino,NaN,NaN,NaN,Casanova di Neri 2007 Cerretalto (Brunello di...,Sangiovese Grosso,Casanova di Neri
111755,France,This is the finest Cheval Blanc for many years...,NaN,100,1500.0,Bordeaux,Saint-milion,NaN,Roger Voss,@vossroger,Ch芒teau Cheval Blanc 2010 Saint-milion,Bordeaux-style Red Blend,Ch芒teau Cheval Blanc
111756,France,"A hugely powerful wine, full of dark, brooding...",NaN,100,359.0,Bordeaux,Saint-Julien,NaN,Roger Voss,@vossroger,Ch芒teau L茅oville Las Cases 2010 Saint-Julien,Bordeaux-style Red Blend,Ch芒teau L茅oville Las Cases
113929,US,In 2005 Charles Smith introduced three high-en...,Royal City,100,80.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Charles Smith 2006 Royal City Syrah (Columbia ...,Syrah,Charles Smith
114972,Portugal,"A powerful and ripe wine, strongly influenced ...",Nacional Vintage,100,650.0,Port,NaN,NaN,Roger Voss,@vossroger,Quinta do Noval 2011 Nacional Vintage (Port),Port,Quinta do Noval
118058,US,This wine dazzles with perfection. Sourced fro...,La Muse,100,450.0,California,Sonoma County,Sonoma,NaN,NaN,Verit茅 2007 La Muse Red (Sonoma County),Bordeaux-style Red Blend,Verit茅
122935,France,"Full of ripe fruit, opulent and concentrated, ...",NaN,100,848.0,Bordeaux,Pessac-L茅ognan,NaN,Roger Voss,@vossroger,Ch芒teau Haut-Brion 2014 Pessac-L茅ognan,Bordeaux-style White Blend,Ch芒teau Haut-Brion
123545,US,Initially a rather subdued Frog; as if it has ...,Bionic Frog,100,80.0,Washington,Walla Walla Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Cayuse 2008 Bionic Frog Syrah (Walla Walla Val...,Syrah,Cayuse

`shape` es un atributo de una serie de pandas y un DataFrame que contiene la cantidad de filas y columnas: (nrows, ncolumns). Una serie de pandas es unidimensional y solo se devuelve la cantidad de filas.

In [ ]:
# Ver forma: cantidad de filas y cantidad de columnas
maxPun_vino_df.shape

(19, 13)


Ahora Seleccionemos todos los vinos cuyo origen de pa铆s sean de Argentina y Chile. Sabemos que los valores en 'country' contienen a 'Argentina' y 'Chile'.

In [ ]:
# Guardar y seleccionar los vinos de los paises definidos
pais_vino_df = rev_vino_df[rev_vino_df['country'].isin(['Argentina','Chile'])]

# Mostrar los primeros 5 registros
pais_vino_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
16,Argentina,"Baked plum, molasses, balsamic vinegar and che...",Felix,87,30.0,Other,Cafayate,NaN,Michael Schachner,@wineschach,Felix Lavaque 2010 Felix Malbec (Cafayate),Malbec,Felix Lavaque
17,Argentina,Raw black-cherry aromas are direct and simple ...,Winemaker Selection,87,13.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Gaucho Andino 2011 Winemaker Selection Malbec ...,Malbec,Gaucho Andino
36,Chile,"White flower, lychee and apple aromas carry th...",Estate,86,15.0,Colchagua Valley,NaN,NaN,Michael Schachner,@wineschach,Estampa 2011 Estate Viognier-Chardonnay (Colch...,Viognier-Chardonnay,Estampa
44,Chile,A berry aroma comes with cola and herb notes. ...,NaN,86,9.0,Maule Valley,NaN,NaN,Michael Schachner,@wineschach,Sundance 2011 Merlot (Maule Valley),Merlot,Sundance
51,Chile,This is much different than Casa Silva's 2009 ...,Gran Reserva,85,22.0,Colchagua Valley,NaN,NaN,Michael Schachner,@wineschach,Casa Silva 2008 Gran Reserva Petit Verdot (Col...,Petit Verdot,Casa Silva

De manera similar a la expresi贸n condicional, la funci贸n condicional `isin` devuelve un valor verdadero para cada fila en la que se encuentran los valores de la lista proporcionada. Para filtrar las filas en funci贸n de dicha funci贸n, se utiliza la funci贸n condicional dentro de los corchetes de selecci贸n []. En este caso, la condici贸n dentro de los corchetes de selecci贸n `rev_vino_df['country'].isin(['Argentina','Chile'])` comprueba para qu茅 filas la columna country es 'Argentina' o 'Chile'.

Ahora seleccionemos vinos con determinadas caracter铆sticas, es decir filas y columnas del conjunto de datos.

Seleccionemos las caracter铆sticas de pa铆s de origen ('country'), precio('price'), puntos('points') de vinos de Argentina y Chile.

In [ ]:
# Guardar y eeleccionar los vinos de los paises definidos
pais_vino_df = rev_vino_df.loc[ rev_vino_df['country'].isin(['Argentina','Chile']), ['country','price','points']]

# Mostrar los primeros 5 registros
pais_vino_df.head()

      country  price  points
16  Argentina   30.0      87
17  Argentina   13.0      87
36      Chile   15.0      86
44      Chile    9.0      86
51      Chile   22.0      85

In [ ]:
# Ver forma: cantidad de filas y cantidad de columnas
pais_vino_df.shape

(8272, 3)

En este caso, se crea un subconjunto de filas y columnas de una sola vez y ya no basta con utilizar corchetes de selecci贸n []. Se requieren los operadores `loc/iloc` antes de los corchetes de selecci贸n []. Al utilizar `loc/iloc`, la parte antes de la coma son las filas que desea seleccionar y la parte despu茅s de la coma son las columnas que desea seleccionar.

Estamos interesadas en las filas 10 a 25 y las columnas 0 a 3.

In [ ]:
# Seleccionar registros en base a posiciones
rev_vino_df.iloc[10:25, 0:3]

,country,description,designation
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuv茅e
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso
14,US,Building on 150 years and six generations of w...,NaN
15,Germany,Zesty orange peels and apple notes abound in t...,Devon
16,Argentina,"Baked plum, molasses, balsamic vinegar and che...",Felix
17,Argentina,Raw black-cherry aromas are direct and simple ...,Winemaker Selection
18,Spain,"Desiccated blackberry, leather, charred wood a...",Vendimia Seleccionada Finca Valdelayegua Singl...
19,US,"Red fruit aromas pervade on the nose, with cig...",NaN
20,US,Ripe aromas of dark berries mingle with ample ...,Vin de Maison
21,US,"A sleek mix of tart berry, stem and herb, alon...",NaN
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno
23,US,This wine from the Geneseo district offers aro...,Signature Selection
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat

Nuevamente, se crea un subconjunto de filas y columnas de una sola vez y ya no es suficiente usar solo corchetes de selecci贸n []. Cuando est茅 interesado espec铆ficamente en ciertas filas y/o columnas en funci贸n de su posici贸n en la tabla, use el operador `iloc` delante de los corchetes de selecci贸n [].

### 驴C贸mo crear nuevas columnas derivadas de columnas existentes en DataFrame?

Hasta ahora hemos guardados selecciones de filas o columnas en variables. Por ejemplo la selecci贸n de subconjunto de datos en `maxPun_vino_df` o `pais_vino_df`.

Recordemos, que cada columna en un DataFrame es una serie, por lo que podemos llamar a atributos y m茅todos para generar nuevos valores y almacenarlos como una nueva columna en el DataFrame.
Ahora veremos como crear una nueva columna en el DataFrame que llamaremos `stand_price`.



```
DataFrame['nueva_columna'] = valor
```

In [ ]:
# Crear nueva columna. Guardar valores de precio modificado
rev_vino_df['stand_price'] = (rev_vino_df['price'] - rev_vino_df['price'].mean()) /  rev_vino_df['price'].std()

# Mostrar las 5 primeras filas con las columnas price y stand_price'
rev_vino_df[['price','crosstab']].head()

   price  stand_price
0    NaN          NaN
1   15.0    -0.496399
2   14.0    -0.520776
3   13.0    -0.545153
4   65.0     0.722453

Se desea cambiar el nombre de las columnas de datos del DataFrame se puede usar `rename`.

In [ ]:
# rename tiene el atributo inplace, por defecto es Falso, que da lugar a crear uno nuevo.
# Si es Verdadero, se ignora el valor de la copia, por lo tanto se modifica el Dataframe original
rev_vino_df.rename(
    columns={
        "stand_price": "Standard_price"
    }
)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Standard_price
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OKeefe,@kerinokeefe,Nicosia 2013 Vulk Bianco (Etna),White Blend,Nicosia,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,-0.496399
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,-0.520776
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,-0.545153
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,0.722453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Sp盲tlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben M眉ller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben M眉ller-Burggraef),-0.179498
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,0.966223
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gew眉rztraminer,Domaine Gresser,-0.130744
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,-0.081989
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuv茅e Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuv茅e Car...,Gew眉rztraminer,Domaine Schoffit,-0.350137

La funci贸n rename() se puede utilizar tanto para etiquetas de filas como de columnas. Proporcione un diccionario con las claves (los nombres actuales) y los valores (los nombres nuevos) para actualizar los nombres correspondientes.Para m谩s informaci贸n click en [rename en documentaci贸n oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html#pandas.DataFrame.rename).

#### Funciones de Dataframe

**Unique**

`unique`devuelve los valores unicos en el orden de aparici贸n. Este NO ordena.  Incluye valores NA (valores faltantes). Por ejemplo si quisieras responder:

a) 驴De que pa铆ses de origen provienen los vinos? o 驴Q煤e valores distintos (煤nicos) hay en la columna country ?

In [ ]:
rev_vino_df['country'].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

b) 驴 Cu谩ntos valores distintos hay en la columna country ?

In [ ]:
# len() devuelve la cantidad de elementos de un objeto.
# Cuando el objeto es una cadena, la funci贸n len() devuelve la cantidad de caracteres de la cadena.
len(rev_vino_df['country'].unique())

44

In [ ]:
rev_vino_df['country'].nunique() # Cuenta la cantidad de valores observados.  No cuenta valores faltantes.

43

**value_counts**

`value_counts` devuelve una serie que contiene la frecuencia de cada fila distinta en el DataFrame. De manera predeterminada, las filas que contienen valores NA se omiten del resultado. De manera predeterminada, la serie resultante estar谩 en orden descendente, de modo que el primer elemento sea la fila que aparece con mayor frecuencia.
Ante la pregunta:

c) 驴 Con qu茅 frecuencia (cu谩ntas veces) aparece cada uno de los paises ?

In [ ]:
rev_vino_df['country'].value_counts()

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

In [ ]:
# normalize = True devuelve proporciones en lugar de frecuencias. Valor predeterminado False.
# Multiplicando por 100 obtenemos porcentaje
rev_vino_df['country'].value_counts(normalize=True)*100

country
US                        41.955846
France                    17.006651
Italy                     15.041414
Spain                      5.115158
Portugal                   4.380793
Chile                      3.442436
Argentina                  2.925147
Austria                    2.574899
Australia                  1.792807
Germany                    1.666564
New Zealand                1.092311
South Africa               1.078456
Israel                     0.388737
Greece                     0.358715
Canada                     0.197832
Hungary                    0.112387
Bulgaria                   0.108538
Romania                    0.092373
Uruguay                    0.083906
Turkey                     0.069280
Slovenia                   0.066970
Georgia                    0.066201
England                    0.056963
Croatia                    0.056194
Mexico                     0.053884
Moldova                    0.045417
Brazil                     0.040028
Lebanon                    0.026942
Morocco                    0.021554
Peru                       0.012316
Ukraine                    0.010777
Serbia                     0.009237
Czech Republic             0.009237
Macedonia                  0.009237
Cyprus                     0.008468
India                      0.006928
Switzerland                0.005388
Luxembourg                 0.004619
Bosnia and Herzegovina     0.001540
Armenia                    0.001540
Slovakia                   0.000770
China                      0.000770
Egypt                      0.000770
Name: proportion, dtype: float64

Hay distintas estad铆sticas disponibles que se pueden aplicar a columnas con datos num茅ricos. Las operaciones en general excluyen los datos faltantes y funcionan en todas las filas de manera predeterminada. Estaremos profundizando en estad铆stica descriptiva en la secci贸n que tiene su nombre. Pero veremos aqu铆 la media (en ingl茅s, *mean*).


**mean**

`mean` devuelve la media de los valores sobre el eje solicitado. Por defecto el eje `axis = 0` , es decir que por defectos calcula la media de los valores de las filas. Por ejemplo:

In [ ]:
rev_vino_df["price"].mean()

g) 驴 Cu谩ntos vinos tienen un precio por encima de la media ?

In [ ]:
rev_vino_df[rev_vino_df["price"]>rev_vino_df["price"].mean()]

#### Apply
Retomando lo visto, utilizaremos el m茅todo `apply` de los dataframes de Pandas, nos permite realizar una acci贸n sobre cada fila o columna (sobre un "axis") del dataset.
Por ejemplo, queremos crear una nueva columna que se llame "description_len" y contenga la cantidad de caracteres que hay en cada fila de la columna "description".

Por ejemplo deseamos crear una columna, que tenga la cantidad de caracteres que tiene la columna description. Para ello consideramos `pandas.Series.str.len`
, que calcula la longitud de cada elemento de la serie/铆ndice. Para m谩s informaci贸n click en [len en documentaci贸n oficial](https://pandas.pydata.org/pandas-docs/version/2.0/reference/api/pandas.Series.str.len.html)

In [ ]:
# Guardar y almacenar la cantidad de caracteres de los valores de 'description'
rev_vino_df['description_length'] = rev_vino_df['description'].str.len()

# Mostrar
rev_vino_df[['description','description_length']].head(2)

                                         description  description_length
0  Aromas include tropical fruit, broom, brimston...                 172
1  This is ripe and fruity, a wine that is smooth...                 227

Hagamos un enfoque distinto


Primero: Definamos una funci贸n que cuente los caracteres de un string:

In [ ]:
def count_string_len(cadena):
    return len(cadena)

In [ ]:
# Guardar y almacenar la cantidad de caracteres de los valores de 'description' utilizando apply y count_string_len
rev_vino_df['description_length2'] = rev_vino_df['description'].apply(count_string_len)

In [ ]:
# Mostrar
rev_vino_df[['description','description_length2']].head(2)

                                         description  description_length2
0  Aromas include tropical fruit, broom, brimston...                  172
1  This is ripe and fruity, a wine that is smooth...                  227

In [ ]:
rev_vino_df.iloc[1,]

country                                                           Portugal
description              This is ripe and fruity, a wine that is smooth...
designation                                                       Avidagos
points                                                                  87
price                                                                 15.0
province                                                             Douro
region_1                                                               NaN
region_2                                                               NaN
taster_name                                                     Roger Voss
taster_twitter_handle                                           @vossroger
title                        Quinta dos Avidagos 2011 Avidagos Red (Douro)
variety                                                     Portuguese Red
winery                                                 Quinta dos Avidagos
stand_price                                                      -0.496399
description_length                                                     227
description_length2                                                    227
Name: 1, dtype: object

Para utilizar apply, no hace falta definir una funci贸n aparte. Tambi茅n podemos hacerlo directamente utilizando funci贸nes "lambda":

In [ ]:
# Guardar y almacenar la cantidad de caracteres de los valores de 'description' utilizando apply y lambad
rev_vino_df['description_length3'] = rev_vino_df['description'].apply(lambda x: len(x))

In [ ]:
# Mostrar
rev_vino_df[['description','description_length3']].head(2)

                                         description  description_length3
0  Aromas include tropical fruit, broom, brimston...                  172
1  This is ripe and fruity, a wine that is smooth...                  227

#### 驴C贸mo resumir un conjunto de datos de un DataFrame?
Un conjunto de datos se puede agregar y agrupar bajo un determinado criterio ya sea para preprocesar datos, analizar, visualizar, entre otros.
Pandas ofrece varias opciones para resumir datos, entre ellos, `agg`, `groupby`, `pivot_table` y `crosstab`.

La agregaci贸n y agrupaci贸n de datos son t茅cnicas fundamentales en la limpieza y el preprocesamiento de datos, que cumplen varios prop贸sitos cr铆ticos. En primer lugar, permiten resumir grandes conjuntos de datos, transformando datos brutos extensos en res煤menes concisos y significativos que facilitan el an谩lisis y la obtenci贸n de informaci贸n.
Adem谩s, la agregaci贸n ayuda a gestionar datos faltantes o ruidosos al suavizar las inconsistencias y llenar los vac铆os con puntos de datos combinados. Estas t茅cnicas tambi茅n contribuyen a reducir el volumen de datos, mejorar la eficiencia del procesamiento y crear caracter铆sticas valiosas para an谩lisis posteriores o modelos de aprendizaje autom谩tico.

##### Agregar

La funci贸n `Dataframe.aggregate()` se utiliza para aplicar funciones de agregaci贸n en una o m谩s columnas. Algunas de las funciones m谩s utilizadas son las siguientes:
* sum: devuelve la suma de los valores del eje solicitado
* min: devuelve el m铆nimo de los valores del eje solicitado
* max: devuelve el m谩ximo de los valores del eje solicitado
Podemos aplicar la agregaci贸n en un DataFrame, df, como `df.aggregate()` o `df.agg()`.

Estas funciones de agregaci贸n solo funcionan con columnas de tipo num茅rico, pero tambi茅n se podr铆an crear funciones de agregaci贸n para trabajar con otros tipos de datos. Si se desea aplicar agregaci贸n:


```
agregacion = df.agg(func)

```

In [ ]:
# Si quiero seleccionar sola las n煤mericas
# rev_vino_df.select_dtypes(include = 'number') # np.number or 'number'

# Seleccionar variables n煤mericas
numerico_df = rev_vino_df[['points','price']]

# Mostrar
numerico_df. head()

   points  price
0      87    NaN
1      87   15.0
2      87   14.0
3      87   13.0
4      87   65.0

In [ ]:
# Indicar el nombre de la funci贸n.
# Por defecto axis = 0 (eje de filas).
# Es decir que se agrega por filas, la funci贸n se aplica a los valores de las filas asociados a cada columna.
numerico_df.agg('max')

points     100.0
price     3300.0
dtype: float64

In [ ]:
# Indicar la lista de funciones. Por defecto axis = 0 (eje de filas)
numerico_df.agg(['sum','min','max'])

       points      price
sum  11495563  4278086.0
min        80        4.0
max       100     3300.0

In [ ]:
# Indicar Diccionario para especificar para cada columna. Por defecto axis = 0 (eje de filas)
numerico_df.agg({'points' : ['sum', 'min'], 'price' : ['min', 'max']})

# Si no se aplica ninguna agregaci贸n espec铆fica a una columna
# Entonces le corresponde un valor NaN (faltante)

         points   price
sum  11495563.0     NaN
min        80.0     4.0
max         NaN  3300.0

In [ ]:
# Indicar axis=1 para que agregue por columna, es decir, por cada fila la suma de los valores cada columna asociado.
numerico_df.agg('sum', axis=1)

0          87.0
1         102.0
2         101.0
3         100.0
4         152.0
          ...
129966    118.0
129967    165.0
129968    120.0
129969    122.0
129970    111.0
Length: 129971, dtype: float64

##### Agrupar
Agrupar datos con pandas usando una clave es una operaci贸n com煤n para el an谩lisis de datos.
Para agrupar datos usando una clave, usamos el m茅todo `groupby()` de un DataFrame y especificamos la columna que queremos usar como clave para agrupar:

```
agrupado = df.groupby('nombre_columna')
```
Despu茅s de agrupar, normalmente se desea realizar alguna agregaci贸n. Las funciones de agregaci贸n comunes incluyen las siguientes:
* agrupado.sum(): calcula la suma de todas las columnas num茅ricas
* agrupado.mean(): calcula el promedio (media aritm茅tica)
* agrupado.count(): cuenta la cantidad de valores no nulos
* agrupado.agg(['sum', 'mean', 'count']): aplica varias funciones de agregaci贸n a la vez: suma, media y recuento


Veamos ejemplos:

In [ ]:
agrupado_por_country = rev_vino_df.groupby('country')
agrupado_por_country

Vemos que groupby nos devuelve un objeto Pandas.core.groupby.generic.DataFrameGroupBy.

Sobre este objeto, podemos aplicar directamente funciones de agregaci贸n como:

In [ ]:
# Aplicar count, para cada grupo de categorias de la columna Country contar los valores no nulos asociados
agrupado_por_country.count().head()

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,stand_price,description_length,description_length2,description_length3
country,,,,,,,,,,,,,,,,
Argentina,3800,2902,3800,3756,3800,3747,0,3797,3797,3800,3800,3800,3756,3800,3800,3800
Armenia,2,2,2,2,2,0,0,2,2,2,2,2,2,2,2,2
Australia,2329,1640,2329,2294,2329,2327,0,2037,2037,2329,2329,2329,2294,2329,2329,2329
Austria,3345,2825,3345,2799,3345,0,0,3337,3337,3345,3345,3345,2799,3345,3345,3345
Bosnia and Herzegovina,2,1,2,2,2,0,0,2,1,2,2,2,2,2,2,2

In [ ]:
# Aplicar mean. Esto funciona para variables n煤mericas
agrupado_por_country.mean().head()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Aplicar mean para variables n煤mericas
agrupado_por_country.mean(numeric_only=True).head()

,points,price,stand_price,description_length,description_length2,description_length3
country,,,,,,
Argentina,86.710263,24.510117,-0.264571,250.601579,250.601579,250.601579
Armenia,87.500000,14.500000,-0.508588,214.500000,214.500000,214.500000
Australia,88.580507,35.437663,0.001811,255.039931,255.039931,255.039931
Austria,90.101345,30.762772,-0.112149,249.613752,249.613752,249.613752
Bosnia and Herzegovina,86.500000,12.500000,-0.557342,216.500000,216.500000,216.500000

In [ ]:
# Para especifica columna
agrupado_por_country['points'].mean().head()

country
Argentina                 86.710263
Armenia                   87.500000
Australia                 88.580507
Austria                   90.101345
Bosnia and Herzegovina    86.500000
Name: points, dtype: float64

Tambi茅n podemos agrupar por m煤ltiples columnas:

In [ ]:
# Agrupar por m谩s de 1 columna
agrupado_por_country_prov = rev_vino_df.groupby(['country', 'province'])

# Aplicar count
agrupado_por_country_prov.mean(numeric_only=True).head()

                               points      price  stand_price  \
country   province
Argentina Mendoza Province  86.826593  25.053317    -0.251329
          Other             86.001866  21.203774    -0.345169
Armenia   Armenia           87.500000  14.500000    -0.508588
Australia Australia Other   85.518367  12.427966    -0.559098
          New South Wales   87.694118  25.623529    -0.237429

                            description_length  description_length2  \
country   province
Argentina Mendoza Province          251.698836           251.698836
          Other                     243.919776           243.919776
Armenia   Armenia                   214.500000           214.500000
Australia Australia Other           215.551020           215.551020
          New South Wales           239.964706           239.964706

                            description_length3
country   province
Argentina Mendoza Province           251.698836
          Other                      243.919776
Armenia   Armenia                    214.500000
Australia Australia Other            215.551020
          New South Wales            239.964706

Y si no queremos que las variables por las que agrupamos se conviertan en indices y sean una columna m谩s, podemos especificarlo en la funci贸n:

In [ ]:
# Agrupar por m谩s de 1 columna y modificar el argumento as_index, que por defecto es as_index = True
agrupado_por_country_prov = rev_vino_df.groupby(['country', 'province'], as_index=False)

# Mostrar
agrupado_por_country_prov.mean(numeric_only=True).head()

,country,province,points,price,stand_price,description_length,description_length2,description_length3
0,Argentina,Mendoza Province,86.826593,25.053317,-0.251329,251.698836,251.698836,251.698836
1,Argentina,Other,86.001866,21.203774,-0.345169,243.919776,243.919776,243.919776
2,Armenia,Armenia,87.500000,14.500000,-0.508588,214.500000,214.500000,214.500000
3,Australia,Australia Other,85.518367,12.427966,-0.559098,215.551020,215.551020,215.551020
4,Australia,New South Wales,87.694118,25.623529,-0.237429,239.964706,239.964706,239.964706

Finalmente, tambi茅n podemos aplicar distintas funciones de agregaci贸n a cada columna.


1. Agrupar el conjunto de datos por pais.

2. Obtener una columna que tenga el precio medio por pa铆s y otra que contenga la sumatoria de puntos. (`.mean()` y `.sum()` ).

In [ ]:
# Agrupar por pais y agregar de manera determinada para price y points
agrupado_por_country = rev_vino_df.groupby(['country'], as_index=False).agg(
    {'price': ['mean'],
     'points': ['sum']
     })

# Modificar nombre de columna
agrupado_por_country.columns = ["Country",'Price mean', 'Points sum']

# Mostrar
agrupado_por_country.head()

                  Country  Price mean  Points sum
0               Argentina   24.510117      329499
1                 Armenia   14.500000         175
2               Australia   35.437663      206304
3                 Austria   30.762772      301389
4  Bosnia and Herzegovina   12.500000         173

Nota Pr谩cticas recomendadas para agrupar
Al agrupar datos en Pandas, hay varias cosas que se deben tener en cuenta para garantizar resultados precisos:
 Datos faltantes: tenga en cuenta los datos faltantes en las columnas utilizadas para agrupar. Pandas excluir谩 las filas con datos faltantes del resultado agrupado, lo que puede afectar los c谩lculos finales.
 MultiIndex: al agrupar por varias columnas, Pandas devuelve un 铆ndice jer谩rquico (MultiIndex). Familiar铆cese con el trabajo con MultiIndex y considere restablecer el 铆ndice si es necesario, como lo hemos estado haciendo para simplificar.
 Orden de operaciones: el orden en el que realiza agrupaciones y agregaciones puede afectar los resultados. Tenga en cuenta la secuencia en la que aplica las funciones de agrupaci贸n y agregaci贸n.
 Agrupaci贸n de conjuntos de datos grandes: para conjuntos de datos grandes, la agrupaci贸n puede consumir mucha memoria. Considere usar t茅cnicas como fragmentaci贸n o procesamiento paralelo para administrar el uso de memoria y el tiempo de c谩lculo.

In [ ]:
print("Tabla Ascendente por Points")
display(agrupado_por_country.sort_values(by=['Points sum'], ascending=[True]).head())
print("")
print("--------------------------------")
print("")
print("Tabla Descendente por Points")
display(agrupado_por_country.sort_values(by=['Points sum'], ascending=[False]).head())

Tabla Ascendente por Points

                   Country  Price mean  Points sum
13                   Egypt         NaN          84
34                Slovakia        16.0          87
9                    China        18.0          89
4   Bosnia and Herzegovina        12.5         173
1                  Armenia        14.5         175

--------------------------------

Tabla Descendente por Points

     Country  Price mean  Points sum
40        US   36.573464     4827077
15    France   41.139120     1962855
22     Italy   39.663770     1730506
37     Spain   28.215275      580031
31  Portugal   26.218256      502232

##### Reorganizar

###### Tablas din谩micas (Pivot)
La funci贸n `pivot_table()` crea una tabla din谩mica de estilo hoja de c谩lculo como `DataFrame`.
Los niveles de la tabla din谩mica se almacenar谩n en objetos MultiIndex (铆ndices jer谩rquicos) en el 铆ndice y las columnas del `DataFrame`. Se requiere un 煤nico valor para cada combinaci贸n de 铆ndice/columna.



```
pd.pivot_table(data, values, index, columns, aggfunc ...)

```
En t茅rminos de sintaxis, el expresion anterior representa lo siguiente:
* data :  un conjunto de datos .
* values : son las columnas a las que se aplicar谩 la funci贸n de agregaci贸n. Por defecto la funci贸n de agregaci贸n es mean()
* index : es una columna para agrupar datos. Claves por las que se agrupar谩n en el 铆ndice de la tabla din谩mica.
* columns: columnas para especificar la categor铆a de los datos.
* aggfunc es la funci贸n de agregaci贸n que se aplicar谩.

Entre otros argumentos.  Para m谩s informaci贸n click en [pivot table en documentaci贸n oficial](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)

In [ ]:
rev_vino_df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'stand_price', 'description_length',
       'description_length2', 'description_length3'],
      dtype='object')

In [ ]:
pd.pivot_table(rev_vino_df[rev_vino_df['country'].isin(['Argentina','Chile'])], values=['points','price'], index =['variety'], columns=['country'])

                               points                 price
country                     Argentina      Chile  Argentina      Chile
variety
Barbera                     85.000000        NaN  18.000000        NaN
Bonarda                     86.504762        NaN  16.628571        NaN
Bordeaux-style Red Blend    89.820225  90.135135  41.546512  51.513514
Bordeaux-style White Blend  83.000000        NaN  14.000000        NaN
Cabernet Blend              88.250000  88.964286  36.250000  50.321429
...                               ...        ...        ...        ...
Trebbiano                   83.000000        NaN   9.000000        NaN
Trousseau                   88.000000        NaN  60.000000        NaN
Viognier                    84.428571  84.739130  13.380952  13.130435
Viognier-Chardonnay               NaN  84.000000        NaN  14.600000
White Blend                 84.875000  84.370370  20.741935  15.814815

[97 rows x 4 columns]

#### 驴C贸mo combinar datos de varias tablas?

En los proyectos de an谩lisis de datos, es habitual encontrar datos distribuidos en m煤ltiples fuentes o conjuntos de datos. Cada conjunto de datos puede contener diferentes piezas de informaci贸n relacionadas con una entidad o tema com煤n.


##### Concatenaci贸n de DataFrames
Cuando tienes conjuntos de datos distribuidos en varios DataFrames con estructuras similares (las mismas columnas o las mismas filas) y quieres combinarlos en un 煤nico DataFrame, aqu铆 es donde la concatenaci贸n resulta muy 煤til. El proceso de concatenaci贸n puede realizarse a lo largo de un eje en particular, ya sea por filas (eje=0) o por columnas (eje=1).

La funci贸n `concat()` se utiliza para concatenar lista de `DataFrames` o lista de `Series`.  Veamos ejemplo:

In [ ]:
# DataFrame 1 con los dos primero registros
df1 = rev_vino_df[['country','price']].head(2)
# Mostrar
display('DF1 ',df1)
print("--------------------------------")
# DataFrame 1 con los dos 煤ltimos registros
df2 = rev_vino_df[['country','price','points']].tail(2)
# Mostrar
display('DF2 ',df2)

'DF1 '

    country  price
0     Italy    NaN
1  Portugal   15.0

--------------------------------

'DF2 '

       country  price  points
129969  France   32.0      90
129970  France   21.0      90

In [ ]:
# Concatenar lista de DataFrames. Por defecto axis=0, se concatenan filas, apilando los DataFrames uno sobre el otro.
pd.concat([df1,df2])

         country  price  points
0          Italy    NaN     NaN
1       Portugal   15.0     NaN
129969    France   32.0    90.0
129970    France   21.0    90.0

In [ ]:
# Concatenar por columnas
df1 = rev_vino_df[['country','price']].head(10)
# Mostrar
display('DF1',df1)
print("--------------------------------")
df2 = rev_vino_df[['points','variety']].head(10)
# Mostrar
display('DF2',df2)

'DF1'

    country  price
0     Italy    NaN
1  Portugal   15.0
2        US   14.0
3        US   13.0
4        US   65.0
5     Spain   15.0
6     Italy   16.0
7    France   24.0
8   Germany   12.0
9    France   27.0

--------------------------------

'DF2'

   points             variety
0      87         White Blend
1      87      Portuguese Red
2      87          Pinot Gris
3      87            Riesling
4      87          Pinot Noir
5      87  Tempranillo-Merlot
6      87            Frappato
7      87      Gew眉rztraminer
8      87      Gew眉rztraminer
9      87          Pinot Gris

In [ ]:
# Concatenar lista de DataFrames. axis=1, se concatenan columnas, se agregan columnas teniendo en cuenta el indice del Dataframe
pd.concat([df1,df2], axis = 1)

    country  price  points             variety
0     Italy    NaN      87         White Blend
1  Portugal   15.0      87      Portuguese Red
2        US   14.0      87          Pinot Gris
3        US   13.0      87            Riesling
4        US   65.0      87          Pinot Noir
5     Spain   15.0      87  Tempranillo-Merlot
6     Italy   16.0      87            Frappato
7    France   24.0      87      Gew眉rztraminer
8   Germany   12.0      87      Gew眉rztraminer
9    France   27.0      87          Pinot Gris

##### Fusi贸n de DataFrames
La funci贸n `merge()` admite m煤ltiples opciones de uni贸n similares a las operaciones de estilo de base de datos. Fusiona objetos `DataFrame` o `Serie` con nombre con una uni贸n de estilo base de datos.

https://pandas.pydata.org/docs/reference/api/pandas.merge.html#pandas.merge


Estos son los siguientes tipos de uniones:
* La uni贸n interna toma la intersecci贸n de dos o m谩s `DataFrame` o `Serie`. Corresponde a la UNIN INTERNA en el lenguaje de consulta estructurado (SQL).
* La uni贸n externa toma la uni贸n de dos o m谩s `DataFrame` o `Serie`. Corresponde a la UNIN EXTERNA COMPLETA en SQL.
* La uni贸n izquierda usa solo las claves del `DataFrame` o `Serie` izquierdo. Corresponde a la UNIN EXTERNA IZQUIERDA en SQL.
* La uni贸n derecha usa solo las claves del `DataFrame` o `Serie` derecho. Corresponde a la UNIN EXTERNA DERECHA en SQL.

In [ ]:

import numpy as np
np.random.seed(1)

# Crear ID en orden
ids = np.arange(1,rev_vino_df.shape[0]+1)

# Crear DF
rev_vino_df['ID'] = ids
df1 = rev_vino_df[['ID','country','price']].head(5)
# Mostrar
display('DF1',df1)
print("--------------------------------")
df2 = rev_vino_df[['ID','points','variety']].head(15)
# Mostrar
display('DF2',df2)

'DF1'

   ID   country  price
0   1     Italy    NaN
1   2  Portugal   15.0
2   3        US   14.0
3   4        US   13.0
4   5        US   65.0

--------------------------------

'DF2'

    ID  points             variety
0    1      87         White Blend
1    2      87      Portuguese Red
2    3      87          Pinot Gris
3    4      87            Riesling
4    5      87          Pinot Noir
5    6      87  Tempranillo-Merlot
6    7      87            Frappato
7    8      87      Gew眉rztraminer
8    9      87      Gew眉rztraminer
9   10      87          Pinot Gris
10  11      87  Cabernet Sauvignon
11  12      87      Gew眉rztraminer
12  13      87  Cabernet Sauvignon
13  14      87   Nerello Mascalese
14  15      87          Chardonnay

In [ ]:
datos_inner_df = pd.merge(df1, df2, on='ID', how='inner')
datos_inner_df

   ID   country  price  points         variety
0   1     Italy    NaN      87     White Blend
1   2  Portugal   15.0      87  Portuguese Red
2   3        US   14.0      87      Pinot Gris
3   4        US   13.0      87        Riesling
4   5        US   65.0      87      Pinot Noir

Como vemos en el fragmento de c贸digo anterior, la funci贸n `pd.merge()` se utiliza para fusionar los dos DataFrames. El argumento `on='ID'` especifica que la columna ID debe utilizarse como clave para unir los DataFrames. El argumento `how='inner'`especifica que debe realizarse una uni贸n interna. Este tipo de uni贸n devuelve solo las filas que tienen valores coincidentes en ambos DataFrames, que, en este caso, son las filas en las que ID coincide tanto en df1 como en df2.

In [ ]:
datos_outer_df = pd.merge(df1, df2, on='ID', how='outer')
datos_outer_df

    ID   country  price  points             variety
0    1     Italy    NaN      87         White Blend
1    2  Portugal   15.0      87      Portuguese Red
2    3        US   14.0      87          Pinot Gris
3    4        US   13.0      87            Riesling
4    5        US   65.0      87          Pinot Noir
5    6       NaN    NaN      87  Tempranillo-Merlot
6    7       NaN    NaN      87            Frappato
7    8       NaN    NaN      87      Gew眉rztraminer
8    9       NaN    NaN      87      Gew眉rztraminer
9   10       NaN    NaN      87          Pinot Gris
10  11       NaN    NaN      87  Cabernet Sauvignon
11  12       NaN    NaN      87      Gew眉rztraminer
12  13       NaN    NaN      87  Cabernet Sauvignon
13  14       NaN    NaN      87   Nerello Mascalese
14  15       NaN    NaN      87          Chardonnay

Como vemos en el fragmento de c贸digo anterior, el argumento `on='ID'` especifica que la columna ID debe utilizarse como clave en la que fusionar los `DataFrames`. El argumento `how='outer'` especifica que debe realizarse una uni贸n externa completa. Este tipo de uni贸n devuelve todas las filas de ambos `DataFrames`, completando NaN donde no hay coincidencia.

In [ ]:
datos_right_df = pd.merge(df1, df2, on='ID', how='right')
datos_right_df

    ID   country  price  points             variety
0    1     Italy    NaN      87         White Blend
1    2  Portugal   15.0      87      Portuguese Red
2    3        US   14.0      87          Pinot Gris
3    4        US   13.0      87            Riesling
4    5        US   65.0      87          Pinot Noir
5    6       NaN    NaN      87  Tempranillo-Merlot
6    7       NaN    NaN      87            Frappato
7    8       NaN    NaN      87      Gew眉rztraminer
8    9       NaN    NaN      87      Gew眉rztraminer
9   10       NaN    NaN      87          Pinot Gris
10  11       NaN    NaN      87  Cabernet Sauvignon
11  12       NaN    NaN      87      Gew眉rztraminer
12  13       NaN    NaN      87  Cabernet Sauvignon
13  14       NaN    NaN      87   Nerello Mascalese
14  15       NaN    NaN      87          Chardonnay

El argumento `how='right'` especifica que se debe realizar una uni贸n externa derecha. Este tipo de uni贸n devuelve todas las filas del DataFrame derecho (df1) y las filas coincidentes del DataFrame izquierdo (df2). Si no hay coincidencia, el resultado tendr谩 NaN en las columnas del DataFrame izquierdo.

In [ ]:
datos_left_df = pd.merge(df1, df2, on='ID', how='left')
datos_left_df

   ID   country  price  points         variety
0   1     Italy    NaN      87     White Blend
1   2  Portugal   15.0      87  Portuguese Red
2   3        US   14.0      87      Pinot Gris
3   4        US   13.0      87        Riesling
4   5        US   65.0      87      Pinot Noir

El argumento `how='left'` especifica que se debe realizar una uni贸n externa izquierda. Este tipo de uni贸n devuelve todas las filas del DataFrame izquierdo (df2) y las filas coincidentes del DataFrame derecho (df1). Si no hay coincidencias, el resultado tendr谩 NaN en las columnas del DataFrame derecho.

#### Nota

Manejo de duplicados al fusionar conjuntos de datos
El manejo de claves duplicadas antes de realizar operaciones de fusi贸n es fundamental porque los duplicados pueden generar resultados inesperados, como productos cartesianos, donde las filas se multiplican por la cantidad de entradas coincidentes. Esto no solo puede distorsionar el an谩lisis de datos, sino que tambi茅n afecta significativamente el rendimiento debido al mayor tama帽o del DataFrame resultante.

#### 驴C贸mo manejar los datos de series temporales?

Imagina que tienes datos que incluyen informaci贸n sobre cu谩ndo sucedieron las cosas: poder comprender y manejar esos datos relacionados con el tiempo es clave para dar sentido a los patrones y las tendencias. No se trata solo de comprender cu谩ndo sucedieron las cosas, sino tambi茅n de facilitar la visualizaci贸n y el relato de historias con tus datos. Ya sea que est茅s analizando tendencias a lo largo del tiempo, filtrando datos para per铆odos espec铆ficos o haciendo predicciones con aprendizaje autom谩tico, ser bueno con las fechas y las horas es clave para desbloquear informaci贸n valiosa de los conjuntos de datos que involucran la dimensi贸n del tiempo.
Ahora que entendemos por qu茅 es tan importante manejar las fechas y las horas, el siguiente paso es aprender a captar esa informaci贸n relacionada con el tiempo y hacer que funcione para nosotros.

In [ ]:
from datetime import datetime
import pandas as pd

In [ ]:
# fecha inicial y final
# https://pandas.pydata.org/docs/reference/api/pandas.date_range.html
fecha_inicial = datetime.strptime("2000-01-01", "%Y-%m-%d")
fecha_final = datetime.strptime("2024-12-31", "%Y-%m-%d")

# Diferencia entre fecha, D representa d铆as
D = 'D'

lista_fechas = pd.date_range(start=fecha_inicial, end= fecha_final, periods = rev_vino_df.shape[0]) #  freq=D
#print(f"Crear lista de fecha desde {fecha_inicial} to {fecha_final}")
print(lista_fechas)

DatetimeIndex([          '2000-01-01 00:00:00',
               '2000-01-01 01:41:10.003847041',
               '2000-01-01 03:22:20.007694083',
               '2000-01-01 05:03:30.011541124',
               '2000-01-01 06:44:40.015388166',
               '2000-01-01 08:25:50.019235208',
               '2000-01-01 10:07:00.023082249',
               '2000-01-01 11:48:10.026929291',
               '2000-01-01 13:29:20.030776333',
               '2000-01-01 15:10:30.034623374',
               ...
               '2024-12-30 08:49:29.965376640',
               '2024-12-30 10:30:39.969223680',
               '2024-12-30 12:11:49.973070720',
               '2024-12-30 13:52:59.976917760',
               '2024-12-30 15:34:09.980764800',
               '2024-12-30 17:15:19.984611840',
               '2024-12-30 18:56:29.988458880',
               '2024-12-30 20:37:39.992305920',
               '2024-12-30 22:18:49.996152960',
                         '2024-12-31 00:00:00'],
              dtype='datetime64[ns]', length=129971, freq=None)

In [ ]:
lista_fechas.dt.days

AttributeError: 'DatetimeIndex' object has no attribute 'dt'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
pathCurso = '/content/drive/MyDrive/CCDAA/Data/'

Con el siguiente comando podr谩s abrir el archivo que vamos a necesitar en 茅sta ocasi贸n:

In [ ]:
# Importar Pandas
import Pandas as pd

ruta_archivo = pathCurso + 'certificados-personas-por-fecha-ingreso-provincia-localidad.csv'

In [ ]:
datos = pd.read_csv(ruta_archivo)
datos.head(5)

In [ ]:
datos.info()

In [ ]:
?pd.read_csv

In [ ]:
pd.to_datetime('2023-06-29')

In [ ]:
pd.to_datetime('23-06-29')

In [ ]:
pd.to_datetime('9-6-2023')

In [ ]:
?pd.to_datetime

In [ ]:
pd.to_datetime('9-6-2023',format='%d-%m-%Y')

In [ ]:
datos['fecha_ingreso_2']=pd.to_datetime(datos['fecha_ingreso'])

In [ ]:
datos.info()

In [ ]:
datos.head()

In [ ]:
def funcion(x):
  return pd.to_datetime(x, format='%Y-%m-%d')

In [ ]:
datos2 = pd.read_csv(ruta_archivo,date_parser=funcion)#lambda x: pd.to_datetime(x)
datos2

In [ ]:
datos2.info()

In [ ]:
?pd.read_csv

In [ ]:
datos2 = pd.read_csv(ruta_archivo,parse_dates=['fecha_ingreso'],date_parser=lambda x: pd.to_datetime(x))#lambda x: pd.to_datetime(x)
datos2

In [ ]:
datos2.info()

In [ ]:
datos2 = pd.read_csv(ruta_archivo,date_parser=lambda x: pd.to_datetime(x), index_col="fecha_ingreso")
datos2

In [ ]:
datos2.index

In [ ]:
datos3 = pd.read_csv(ruta_archivo)
datos3['fecha_ingreso'] = pd.to_datetime(datos3['fecha_ingreso'],format='%Y-%m-%d')


# datos3['year'] = pd.DatetimeIndex(datos3['fecha_ingreso']).year
# Otra forma
datos3['year'] = datos3['fecha_ingreso'].dt.year
datos3['month'] = datos3['fecha_ingreso'].dt.month
datos3['day'] = datos3['fecha_ingreso'].dt.day
# datos3['day'] = pd.DatetimeIndex(datos3['fecha_ingreso']).day

In [ ]:
datos3.head(5)

In [ ]:
# Chequeo es una fecha
datos3.info()

驴 C贸mo podemos acceder a el d铆a/mes/a帽o de una columna ?

In [ ]:
datos2.head(5)

In [ ]:
#Pero sigamos con datos2
datos2.loc["2020-12-01"].head(5)

In [ ]:
#Pero sigamos con datos3
datos3.loc[datos3["fecha_ingreso"]=="2020-12-01"].head(5)

驴C贸mo podemos ver la semana?

In [ ]:
# datos["semana"]=pd.DatetimeIndex(datos['fecha_ingreso']).week
datos3["semana"]=datos3['fecha_ingreso'].dt.isocalendar().week
# El 0 es el lunes

In [ ]:
datos3

## Ejercitaci贸n

1) Como ver el d铆a de la semana

In [ ]:
datos3.loc[100]

In [ ]:
datos3["fecha_ingreso"][1].month

In [ ]:
# print(datos3["fecha_ingreso"])
import calendar
calendar.day_name[datos3["fecha_ingreso"][1].weekday()]

In [ ]:
# print(datos3["fecha_ingreso"])
import calendar
calendar.month_name[datos3["fecha_ingreso"][1].month]

2) Imprimir las primeras 5, las 煤tlimas 5 y un sampleo de 5 filas random.

In [ ]:
datos3.head(5)

In [ ]:
datos3.tail(5)

In [ ]:
datos3.sample(5)

3) 驴 Cu谩ntas filas y columnas tiene el dataset ?

In [ ]:
datos3.info()

In [ ]:
datos3.shape

4) 驴 Cu谩ntos valores nulos hay en cada columna ?

In [ ]:
datos3.isna()

In [ ]:
display(datos3.isna().sum())

5) 驴 Qu茅 porcentaje de valores nulos hay en cada columna ?

In [ ]:
display(((datos3.isna().sum())/datos.shape[0])*100)

6) 驴 Cu谩ntos valores distintos encontramos en la variable `destino_provincia` ? 驴Y en `destino_localidad` ?

In [ ]:
datos3.info()

In [ ]:
print(datos3['destino_provincia'].unique())
print(datos3['destino_provincia'].nunique())
print(datos3['fecha_ingreso'].value_counts())

In [ ]:
print(datos3['destino_localidad'].unique())
print(datos3['destino_localidad'].nunique())

7) Convertir los valores de la columna destino_provincia a min煤sculas

In [ ]:
#@title Soluci贸n
datos3['destino_provincia'] = datos3['destino_provincia'].apply(lambda x: str.lower(x))
# datos3['destino_provincia'] = datos3['destino_provincia'].str.lower()
datos3

8) Calcular la media y mediana de la columna cantidad_personas

In [ ]:
datos3["cantidad_personas"].mean()

In [ ]:
datos3["cantidad_personas"].median()

9) Completar los nulos de la columna cantidad_personas con la mediana y calcular nuevamente la media de la columna. 驴 C贸mo vari贸 con respecto a el punto 8) ?

In [ ]:
#@title Soluci贸n
mediana = datos3["cantidad_personas"].median()
datos3["cantidad_personas"]= datos3["cantidad_personas"].fillna(mediana)

In [ ]:
media = datos3["cantidad_personas"].mean()
datos3["cantidad_personas"] = datos3["cantidad_personas"].fillna(media)

In [ ]:
datos3["cantidad_personas"].mean()

10) 驴 Cu谩l es la fecha m铆nima de ingreso ? 驴 Y la m谩xima ?

In [ ]:
datos3["fecha_ingreso"].min()

In [ ]:
datos3["fecha_ingreso"].max()

11) 驴 Cu谩ntos certificados se emitieron en Febrero de 2021 ?

In [ ]:
mask_mes_anio = (datos3['month'] == 2) & (datos3['year'] == 2021)
datos3[mask_mes_anio]['cantidad_certificados'].sum()

11.1) 驴Y si quisiera saber los certificados por cada a帽o y mes?

In [ ]:
datos3.groupby(['month']).agg({'cantidad_certificados':["sum"]})

In [ ]:
#@title Soluci贸n
datos3.groupby(['year','month'], as_index=False).agg({'cantidad_certificados': ["sum"]})

12) Crear una funci贸n que se llame `remove_spaces` que reciba como par谩metro un string y retorne el mismo string sin espacios.

In [ ]:
def remove_spaces(string:str) -> str:
    """
    La funcion remueve espacios
    """
    return string.replace(" ", "")

13) Utilizando apply(), aplicar la funci贸n `remove_spaces` sobre la columna `destino_localidad` del DataFrame.

In [ ]:
datos3['sin_espacio'] = datos3['destino_localidad'].apply(remove_spaces)

In [ ]:
datos3['sin_espacio'].head(5)

14) Agrupar los datos por `destino_provincia` y obtener:
  - Cantidad total de certificados emitidos
  - Cantidad total de personas que lo solicitaron
  - Fecha de el 煤ltimo certificado emitido

In [ ]:
group_by_destino_provincia = datos3.groupby(['destino_provincia'])

In [ ]:
group_by_destino_provincia['cantidad_certificados','cantidad_personas'].sum()

In [ ]:
fecha_final = datos3.groupby(['destino_provincia'], as_index=False).agg({'fecha_ingreso': ["max"]})
fecha_final.columns = ["Provincia",'Fecha final']
display(fecha_final)

15) 驴 Cu谩l es la provincia que m谩s certificados emitidos tuvo en Enero de 2021 ?

In [ ]:
mask = (datos3["month"]==1) & (datos3["year"]==2021)

certificados_totales = datos3[mask].groupby(['destino_provincia'], as_index=False).agg({'cantidad_certificados': ["sum"]})
certificados_totales.columns = ["Provincia",'Certificados totales']

display(certificados_totales)

display(certificados_totales.iloc[certificados_totales['Certificados totales'].idxmax()])

##  Introducci贸n a visualizaci贸n:

La visualizaci贸n de datos es una herramienta en CD e IA. Permite comprender mejor los datos, identificar patrones y comunicar hallazgos de manera efectiva. Existe un m贸dulo en donde detallaremos m谩s sobre visualizaciones con datos pero en esta secci贸n exploraremos:
* Los tipos de variables
* Las principales tipos de gr谩ficas
* 驴C贸mo crear gr谩ficos con pandas? `

### Tipos de Variables

En estad铆stica las variables, las que se pueden variar, se clasifican en diferentes tipos seg煤n la naturaleza de los datos que representan. Aqu铆 un resumen con ejemplos:

**Variables Cualitativas (o Categ贸ricas)**

Son aquellas que representan caracter铆sticas o categor铆as que no pueden ser medidas con n煤meros. Se dividen en dos tipos:

* Nominales: No tienen un orden espec铆fico.
  * Ejemplo: Color de ojos (azul, verde, marr贸n), estado civil (soltero, casado, divorciado).
* Ordinales: Tienen un orden o jerarqu铆a, pero las diferencias entre valores no son necesariamente iguales.
  * Ejemplo: Nivel de satisfacci贸n (bajo, medio, alto), nivel educativo (primaria, secundaria, universidad).

**Variables Cuantitativas (o Num茅ricas)**

Son aquellas que representan cantidades, medidas con n煤mero y permiten realizar operaciones matem谩ticas. Se dividen en dos tipos:

* Discretas: Toman un valor finito de valores. Son valores enteros contables (no pueden tomar valores intermedios).
  * Ejemplo: N煤mero de integrantes en el hogar (0, 1, 2, 3), cantidad de autos en un estacionamiento.
* Continuas: Pueden tomar cualquier valor dentro de un rango n煤merico, incluyendo decimales.
  * Ejemplo: Altura de una persona (1.75 m), temperatura en grados Celsius (23.5掳C).


En visualizaci贸n, el tipo de variable determina la gr谩fica adecuada para su representaci贸n.

###  Tipos de gr谩ficas  

Existen diversas formas de representar datos de manera visual. Algunas de las m谩s utilizadas son:

* Gr谩ficos de barras: Ideales para comparar valores de variables categ贸ricas.

* Histogramas: tiles para mostrar la distribuci贸n de una variable num茅rica, es decir c贸mo se distribuyen los diferentes valores de esa variable a lo largo de las observaciones.

* Diagramas de dispersi贸n (scatter plots): Se emplean para analizar la relaci贸n entre dos variables num茅ricas.

* Gr谩ficos de l铆neas: Representan tendencias a lo largo del tiempo.

* Boxplots: Muestran la distribuci贸n y posibles valores at铆picos en un conjunto de datos.

### 驴C贸mo crear gr谩ficos con pandas?
Pandas permite representar gr谩ficamente los datos de forma inmediata, utilizando el poder de la libreria Matplotlib, que estaremos explorando en el modulo de visualizaci贸n.
Una manera sencilla de generar gr谩ficos a partir de DataFrames, es utilizando el m茅todo `.plot`. Los m茅todos .plot.* son aplicables tanto a `Series` como a `DataFrame`.

A continuaci贸n, un ejemplo pr谩ctico, para ello consideremos el conjunto de datos de rese帽a de vino, visto en anteriores secciones, pero que corresponden a Argentina:

In [ ]:
# Seleccionar vinos de Argentina
rev_vino_argen_df = rev_vino_df[rev_vino_df['country']=='Argentina']

# Mostrar
rev_vino_argen_df.head(4)

In [ ]:
# Recordar tipo de datos del conjunto de datos del DataFrame
rev_vino_argen_df.dtypes

Una comprobaci贸n visual r谩pida de los datos con `.plot()`

In [ ]:
rev_vino_argen_df.plot()

Con un DataFrame, pandas crea de forma predeterminada un gr谩fico lineal para cada una de las columnas con datos num茅ricos.

Adem谩s del gr谩fico de l铆neas predeterminado al utilizar la funci贸n `plot`, hay varias alternativas disponibles para representar gr谩ficamente los datos.

Cambiando el par谩metro `kind`, podemos generar otros tipos de gr谩ficos como `line` (l铆neas), `hist` (histograma), `box`(boxplot) o `scatter` (dispersi贸n). Veamos ejemplos:

In [ ]:
# Explorar la distribuci贸n de variable n煤merica price mediante histograma
rev_vino_argen_df['price'].plot(kind='hist')

In [ ]:
# Explorar la relaci贸n de las variables n煤mericas price y points. Usamos la gr谩fica scatter
# Solo se puede aplicar en DataFrame
rev_vino_argen_df[['price','points']].plot(kind='scatter', x='price', y='points')

In [ ]:
# Calculo la frecuencia de cada categoria de la variable categ贸rica `Province`
# value_counts() devuelve una serie
provincias_s = rev_vino_argen_df['province'].value_counts()

# Mostrar
provincias_s

In [ ]:
# Gr谩fico de barra
provincias_s.plot(kind="bar")

Para m谩s informaci贸n sobre `plot`, click en [pandas.plot de documentaci贸n oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot).

###  Recordatorio

* Los m茅todos `.plot.*` son aplicables tanto a `Series` como a `DataFrames`.

* De manera predeterminada, cada una de las columnas se representa como un elemento diferente (l铆nea, diagrama de caja, etc.).

* Todo gr谩fico creado por pandas es un objeto Matplotlib.




La visualizaci贸n de datos es clave en el an谩lisis exploratorio y en la comunicaci贸n de resultados en CD e IA.

---
# Estad铆stica Descriptiva
---


* Imagina la siguiente lista de n煤meros [1, 2, 3, 4, 5, 6, 7, 7, 9, 10]

* Ejemplo de casos de usos:  calificaciones de los estudiantes en matem谩ticas, nivel de satisfacci贸n ante un servicio, o gastos mensuales en millones de pesos.

In [ ]:
# Importar librer铆a
import numpy as np
import pandas as pd

# Preparar los datos
data = np.array([1, 2, 3, 4, 5, 6, 7, 7, 9, 10])
print(data)

# Medidas de Tendencia Central

### Media

----

Dados los n n煤meros ${\{x_{1},x_{2},\ldots ,x_{n}\}}$ la media aritm茅tica se define como:

\begin{equation}
    \bar {x} = {\frac {1}{n}} \sum _{i=1}^{n}x_{i} ={\frac {x_{1}+x_{2}+\cdots +x_{n}}{n}}
\end{equation}


Por ejemplo, para la muestra 8, 5 y -1, su media es:

\begin{equation}
    \bar {x} ={\frac {8+5+(-1)}{3} = 4}
\end{equation}

In [ ]:
# Calcular estad铆stica con numpy
media = np.mean(data)

# Mostrar resultado
print("Media Numpy:", media)

# Calcular estad铆stica con Pandas
data_df = pd.DataFrame(data)
media = data_df[0].mean()

# Mostrar resultado
print("Media Pandas:", media)

In [ ]:
# Datos en dataframe
data_df

### Mediana

---

La mediana es el valor del "medio" de una lista  **ordenada** de datos (o el valor que separa la primera mitad y la segunda mitad de una distribuci贸n).

Para una lista ordenada la mediana es calculada de diferente manera dependiendo de la cantidad de elementos de la misma:

**Impar**:

[1, 2, 3, 5, **7**, 8, 9, 10, 15]

9 elementos

La mediana es el valor de la posici贸n 5 (la posici贸n del medio)

Mediana =  7

**Par**:

[-5, -1, 0, **1**, **2**, 3, 8, 20]

8 elementos

La mediana es la **media de los valores en las dos posiciones centrales**

Mediana =  (1+2)/2 = 1.5

In [ ]:
# Recordar la variable data = np.array([1, 2, 3, 4, 5, 6, 7, 7, 9, 10])
# Calcular mediana con numpy
mediana = np.median(data)

# Mostrar resultados
print("Mediana Numpy:", mediana)

# Datos de ejemplo
data_df = pd.DataFrame(data)

# Calcular mediana con pandas
mediana = data_df[0].median()

# Mostrar resultados
print("Mediana Pandas:", mediana)

### Moda

---

La moda es el **valor que aparece con mayor frecuencia** o m谩s veces en la distribuci贸n.

Por ejemplo, la moda de [0,1,1,2,2,2,2,3,3,4,4,4,5] es 2.

La moda no es necesariamente 煤nica. Puede ocurrir que haya dos valores diferentes que sean los m谩s frecuentes.

In [ ]:
# Importar librerias
import statistics
from scipy import stats


# Recordar la variable data = np.array([1, 2, 3, 4, 5, 6, 7, 7, 9, 10])

# Calcular moda con statistics
moda = statistics.mode(data)

# Mostrar resultados
print("Moda con statistics:", moda)

# Calcular moda con scipy
moda = stats.mode(data)

# Mostrar resultados
print("Moda con scipy:", moda.mode)

In [ ]:
data

In [ ]:
# Multimoda
data2 = np.array([0,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5])
moda = statistics.multimode(data2)

print("Multi Moda Pandas:", moda)

# Medidas de Dispersi贸n o Variabilidad

---

### Varianza

---

La varianza es un valor num茅rico utilizado para describir cu谩nto var铆an los n煤meros de una distribuci贸n respecto a su media.

Si tenemos un conjunto de valores de una variable, la varianza se calcula de la siguiente forma:

\begin{equation}
\sigma_{n}^{2} = \frac{1}{n} \sum _{i=1}^{n} (x_i - \bar{x})^{2}
\end{equation}

Siendo:

$x_{i}$: cada dato

$\bar{x}$: media de los datos

$n$: n煤mero de datos

Esto es el promedio de **la diferencia elevada al cuadrado entre cada valor y la media**

In [ ]:
# Recordar la variable data = np.array([1, 2, 3, 4, 5, 6, 7, 7, 9, 10])

# Calcular varianza con numpy
varianza = np.var(data)

# Mostrar resultados
print("Varianza con numpy:",varianza)

# Calcular varianza con pandas
data_df = pd.DataFrame(data)
varianza = data_df[0].var(ddof=0)

# Mostrar resultados
print("Varianza con pandas:",varianza)

### Desv铆o Est谩ndar

---

Es la ra铆z cuadrada de la varianza

\begin{equation}
\sigma_{n} = \sqrt{\frac{1}{n} \sum _{i=1}^{n} (x_i - \bar{x})^{2}}
\end{equation}

El desv铆o est谩ndar es la ra铆z cuadrada de la varianza

El desv铆o es una medida de la dispersi贸n de los datos

**NO** es la desviaci贸n promedio con respecto de la media. Como los desv铆os est谩n elevados al cuadrado los desv铆os muy grandes cuentan m谩s que proporcionalmente.

In [ ]:
# Recordar la variable data = np.array([1, 2, 3, 4, 5, 6, 7, 7, 9, 10])

# Calcular std con numpy
std = np.std(data)

# Mostrar resultados
print("Desv铆o Est谩ndar con numpy:",std)

# Calcular std con pandas
data_df = pd.DataFrame(data)
std = data_df[0].std(ddof=0)

# Mostrar resultados
print("Desv铆o Est谩ndar con pandas:",std)

# Medidas de Posici贸n
---
Cuartiles y percentiles son medidas estad铆sticas que se utilizan para dividir y analizar la distribuci贸n de un conjunto de datos. Estas medidas proporcionan informaci贸n sobre c贸mo se distribuyen los valores en relaci贸n con los dem谩s.

## Cuartiles

Los cuartiles dividen un conjunto de datos en cuatro partes iguales, cada una conteniendo el 25% de los datos. Los cuartiles m谩s com煤nmente utilizados son:

* Primer cuartil (Q1): Tambi茅n conocido como el cuartil inferior o el percentil 25 (P25), divide los datos de manera que el 25% de los valores sean menores o iguales a este valor.

* Segundo cuartil (Q2): Es el valor que se encuentra en la mediana, es decir, el punto medio de la distribuci贸n. Tambi茅n se conoce como el percentil 50 (P50).

* Tercer cuartil (Q3): Tambi茅n conocido como el cuartil superior o el percentil 75 (P75), divide los datos de manera que el 75% de los valores sean menores o iguales a este valor.

Los cuartiles son 煤tiles para comprender la dispersi贸n y la forma de la distribuci贸n de los datos.


![image.png]()

In [ ]:
# Recordar la variable data = np.array([1, 2, 3, 4, 5, 6, 7, 7, 9, 10])

# Calcular los cuartiles con numpy
q1 = np.quantile(data, 0.25)
q2 = np.quantile(data, 0.50)
q3 = np.quantile(data, 0.75)

# Imprimir los cuartiles
print("Primer cuartil (Q1):", q1)
print("Segundo cuartil (Q2):", q2)
print("Tercer cuartil (Q3):", q3)

# Calcular los cuartiles con pandas
data_df = pd.DataFrame({'A':data})

q1 = data_df['A'].quantile(0.25)
q2 = data_df['A'].quantile(0.50)
q3 = data_df['A'].quantile(0.75)

# Imprimir los cuartiles
print("Primer cuartil (Q1):", q1)
print("Segundo cuartil (Q2):", q2)
print("Tercer cuartil (Q3):", q3)
data

## Percentiles

Los percentiles son valores que dividen un conjunto de datos en cien partes iguales, proporcionando una medida m谩s detallada de la distribuci贸n. Algunos percentiles comunes son:

* Percentil 25 (P25): Es equivalente al primer cuartil (Q1) y representa el valor por debajo del cual el 25% de los datos caen.

* Percentil 50 (P50): Es equivalente al segundo cuartil (Q2) y representa la mediana de los datos.

* Percentil 75 (P75): Es equivalente al tercer cuartil (Q3) y representa el valor por debajo del cual el 75% de los datos caen.

* Percentil 90 (P90): Representa el valor por debajo del cual el 90% de los datos caen.


Los percentiles proporcionan informaci贸n m谩s detallada sobre c贸mo se distribuyen los datos, especialmente en los extremos de la distribuci贸n.


![image.png]()

In [ ]:
# Calcular percentiles con NumPy
p25 = np.percentile(data, 25)
p50 = np.percentile(data, 50)
p75 = np.percentile(data, 75)

# Imprimir percentiles con NumPy
print("Percentil 25 (P25):", p25)
print("Percentil 50 (P50):", p50)
print("Percentil 75 (P75):", p75)

# Crear DataFrame de Pandas
data_df = pd.DataFrame({'A':data})

# Calcular percentiles con Pandas
p25_df = data_df['A'].quantile(0.25)
p50_df = data_df['A'].quantile(0.50)
p75_df = data_df['A'].quantile(0.75)

# Imprimir percentiles con Pandas
print("Percentil 25 (P25) con Pandas:", p25_df)
print("Percentil 50 (P50) con Pandas:", p50_df)
print("Percentil 75 (P75) con Pandas:", p75_df)

Tanto los cuartiles como los percentiles son 煤tiles para resumir y analizar grandes conjuntos de datos, y son ampliamente utilizados en campos como la estad铆stica, la investigaci贸n social, la econom铆a y muchos otros. Estas medidas permiten comprender mejor la distribuci贸n, la dispersi贸n y los valores at铆picos de los datos.

# Ejemplo de uso de estad铆stica descriptiva

---

El m茅todo describe() del objeto Dataframe devuelve una descripci贸n de los datos en el DataFrame.

Si el DataFrame contiene datos num茅ricos, la descripci贸n contiene esta informaci贸n para cada columna:

* count: la cantidad de valores no vac铆os.
* mean: el valor promedio (media).
* std: la desviaci贸n est谩ndar.
* min: el valor m铆nimo.
* 25%: el percentil del 25 %*.
* 50%: el percentil del 50 %*.
* 75%: el percentil del 75 %*.
* max: el valor m谩ximo.

In [ ]:
# Describe
data_df.describe()

---
# 1.5 Preparaci贸n y preprocesamiento de datos
---

##  驴Por qu茅 es importante la preparaci贸n y preprocesamiento de datos?
La preparaci贸n de datos es el proceso que incluye todas las etapas necesarias para transformar datos en bruto en un formato adecuado para su an谩lisis o uso en modelos de aprendizaje de m谩quina (Machine Learning, ML). Una entrada incorrecta o de mala calidad producir谩 una salida defectuosa de ellos. **Es muy raro que los datos de los que disponemos est茅n ya listos para ser usados**.

La preparaci贸n de datos es un proceso integral que abarca tareas como la recopilaci贸n y combinaci贸n de datos provenientes de distintas fuentes, la generaci贸n de res煤menes estad铆sticos y la identificaci贸n de problemas en los datos disponibles. Dentro de este proceso se encuentra el preprocesamiento de datos, cuya finalidad es m谩s espec铆fica: transformar los datos en un formato 贸ptimo para su uso en modelos de ML y an谩lisis. Este preprocesamiento incluye actividades como la codificaci贸n de variables categ贸ricas, la estandarizaci贸n y normalizaci贸n de variables num茅ricas, el manejo de valores at铆picos y la imputaci贸n de datos faltantes.

Desaf铆os, que nos estaremos planteando a en est谩 secci贸n.



**Recordemos**

Los datos son la base fundamental para quienes toman decisiones en diversos 谩mbitos. Por ejemplo, en el sector sanitario, los datos organizados, agregados y transformados pueden proporcionar informaci贸n valiosa que mejora la atenci贸n al paciente, facilita la elaboraci贸n de informes con estad铆sticas fiables y permite monitorear y evaluar los servicios de salud.

##  Temas a explorar
* Codificaci贸n de variables categ贸ricas
* Estandarizaci贸n y Normalizaci贸n
* Manejo de valores at铆picos
* Resumen y caso de uso.

##  Recursos a utilizar
* Conjunto de datos: archivo csv disponible en plataforma. Para m谩s informaci贸n [archivo csv](https://www.datos.gob.ar/dataset/turismo-certificado-unico-habilitante-para-circulacion-cuhc---verano/archivo/turismo_176dc4bc-7597-4e9b-850d-0d27bcbca8d0).
* Librer铆as de python: Scikit-learn. Pandas. Numpy. Stats. Matplotlib. Seaborn.
* Jupyter notebook / Google colab.


Comencemos

## 1.5.1 Codificaci贸n de variables categ贸ricas

La codificaci贸n de variables categ贸ricas es el proceso de transformar datos categ贸ricos (es decir, datos que representan categor铆as o grupos) en un formato num茅rico que pueda ser utilizado por los algoritmos de ML. Esto es necesario porque muchos modelos de ML trabajan 煤nicamente con datos num茅ricos y no pueden interpretar directamente las categor铆as en texto o etiquetas.

Las variables categ贸ricas son aquellas que toman valores en categor铆as, como:
* Color de un autom贸vil (Negro, Blanco, Rojo, Azul, Otros)
* G茅neros de libros (Narrativa, L铆rica y Dram谩tica)
* Grados acad茅micos (Bachiller, Licenciado, Mag铆ster

Las variables categ贸ricas pueden ser de dos tipos: **nominales y ordinales**. Las nominales no tienen un orden espec铆fico, como el  color de un autom贸vil o g茅neros de libros. Las ordinales, por otro lado, tienen un orden, como grados acad茅micos en donde el menor grado de estudio es Bachiller y el mayor el Doctorado.

Existen distintas t茅cnicas, aqu铆 exploraremos:

* **Codificaci贸n por Etiqueta (Label Encoding)**/**Codificaci贸n Ordinal (Ordinal Encoding)**: asigna un n煤mero entero a cada categor铆a de manera arbitraria o en funci贸n de su orden o jerarqu铆a.
* **Codificaci贸n One-Hot (One-Hot Encoding):** crea una nueva columna binaria para cada categor铆a y asigna 1 a la categor铆a presente y 0 a las dem谩s.

![Gr谩ficas asociadas.png]()

Para explorar las tres t茅cnicas utilizaremos el conjunto de datos de grados ac谩demicos y la libreria scikit-learn de Python.

In [ ]:
# Importar biblioteca para la manipulaci贸n de datos
import pandas as pd

# Crear el conjunto de datos sobre grados acad茅micos (Bachiller, Licenciado, Mag铆ster y Doctorado).
# Variable categ贸rica ordinal
educ_ls= ["Bachiller","Bachiller","Bachiller", "Licenciado", "Mag铆ster","Mag铆ster","Doctorado"]
data = {'grado_academico': educ_ls}

# Crear dataframe
educ_df = pd.DataFrame(data)

# Mostrar
display(educ_df)

### Codificaci贸n por Etiqueta (Label encoding)

La Codificaci贸n por Etiquetas es una t茅cnica que codifica valores categ贸ricos a n煤meros enteros. T茅cnica simple y r谩pida de implementar aunque puede introducir relaciones num茅ricas ficticias en variables categ贸ricas nominales como color de un autom贸vil (Negro, Blanco, Rojo, Azul, Otros) o g茅neros de libros (Narrativa, L铆rica y Dram谩tica).

En Python para realizar la Codificaci贸n por Etiquetas se puede usar el m贸dulo `LabelEncoder` de la biblioteca `sklearn.preprocessing`. En donde cada categor铆a es un entero que comienza en 0 y termina en n-1, donde n es el n煤mero de categor铆as. Veamos esto con el ejemplo.

Empecemos con `LabelEncoder`

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import LabelEncoder

# Inicializar la clase LabelEncoder. Crear instancia
codif_etiqueta = LabelEncoder()

# Entrenar y transformar. LLamar al m茅todo fit_transform
educ_df['LABEL_grado_academico_codificada'] = codif_etiqueta.fit_transform(educ_df['grado_academico'])

# Mostrar datos. Se asigna el n煤mero por orden alfab茅tico.
# En donde cada categor铆a es un entero que comienza en 0 y termina en n-1, donde n es el n煤mero de categor铆as
display(educ_df)

In [ ]:
# Si quisieramos ver las valoras asignados a las categor铆as. classes_
categorias_codificadas = codif_etiqueta.classes_

# Crear un diccionario para almacenar la correspondencia
correspondencia = {}

# Asignar la correspondencia entre las categor铆as y los n煤meros
for i, categoria in enumerate(categorias_codificadas):
    correspondencia[categoria] = i

# Imprimir la correspondencia
print(correspondencia)

La Codificaci贸n por Etiquetado no es la mejor t茅cnica. Para el ejemplo, se esperar铆a desde el grado acad茅mico m谩s bajo hasta el m谩s avanzado ('Bachiller'< 'Licenciado'< 'Mag铆ster'<'Doctorado') tener asignado los valores [0,1,2,3] y no [0,2,3,1]. Esto se debe a que asigna por orden alfab茅tico.

Ante este problema, existe la posibilidad de utilizar Codificaci贸n Ordinal, 煤til para variables ordinales.

### Codificaci贸n Ordinal (Ordinal Encoding)
Est谩 t茅cnica asignan un valor num茅rico a cada categor铆a en funci贸n de su orden o jerarqu铆a natural.
En Python, se puede utilizar la clase `OrdinalEncoder` de la biblioteca `sklearn.preprocessing`. Veamos como aplicar al ejemplo de grados acad茅micos:

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import OrdinalEncoder

# Inicializar la clase OrdinalEncoder
codif_ordinal = OrdinalEncoder(categories=[['Bachiller','Licenciado','Mag铆ster','Doctorado']], dtype= 'int') # lista ordenada por nivel de menor a mayor

# Entrenar y transformar
educ_df['ORDINAL_grado_academico_codificada']  = codif_ordinal.fit_transform(educ_df[['grado_academico']]) #

# Mostrar
display(educ_df)

In [ ]:
# Transformando tipo de datos y valores enteros asignados para que comience en 1
educ_df['ORDINAL_grado_academico_codificada'] = educ_df['ORDINAL_grado_academico_codificada'] + 1

# Imprimir los datos originales y los codificados.
# Con Ordinal se logra que el grado acad茅mico m谩s bajo sea 'Bachiller'sea 1 y 'Doctorado' sea 4 ('Bachiller'< 'Licenciado'< 'Mag铆ster'<'Doctorado')
display(educ_df)

Algunas caracter铆sticas clave de la Codificaci贸n Ordinal son:

1. **Asignaci贸n de valores num茅ricos**: A cada categor铆a 煤nica en la variable categ贸rica se le asigna un valor num茅rico 煤nico en funci贸n de su orden o jerarqu铆a. Los valores num茅ricos se asignan de manera secuencial, comenzando desde 0, hasta el n煤mero total de categor铆as menos 1.

2. **Preservaci贸n del orden**: La Codificaci贸n Ordinal conserva la informaci贸n de orden o jerarqu铆a entre las categor铆as. Esto significa que las categor铆as con valores num茅ricos m谩s altos representan un mayor orden o jerarqu铆a en comparaci贸n con las categor铆as con valores num茅ricos m谩s bajos.

3. **Aplicaci贸n en variables categ贸ricas ordinales**: La Codificaci贸n Ordinal es especialmente 煤til cuando se trabaja con variables categ贸ricas que tienen un orden l贸gico predefinido como el ejemplo de grados acad茅micos, clasificaciones (bajo, medio, alto) o tama帽os (peque帽o, mediano, grande), etc.

### Codificaci贸n One-Hot (One-Hot Enconding)

La codificaci贸n One-Hot es una t茅cnica utilizada para convertir variables categ贸ricas en una representaci贸n num茅rica binaria. Esta t茅cnica se utiliza cuando las variables categ贸ricas no tienen un orden inherente, variables nominales, y se desea representar cada categor铆a como una columna binaria separada.

La biblioteca `sklearn.preprocessing` en Python proporciona la clase `OneHotEncoder` que se puede utilizar para realizar la codificaci贸n One-Hot. A continuaci贸n se muestra un ejemplo de c贸mo utilizar OneHotEncoder:

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import OneHotEncoder

# Inicializar clase OneHotEncoder
codif_onehot = OneHotEncoder()

# Entrenar y transformar los datos.
columnas_codif  = codif_onehot.fit_transform(educ_df[['grado_academico']])


print("Matriz de columnas:",columnas_codif.toarray())

# Crear dataframes con las nuevas caracter铆sticas codificadas One-Hot, y concatenar el DataFrame codificado One-Hot con el DataFrame original:
onehot_df = pd.DataFrame(columnas_codif.toarray(), columns= codif_onehot.get_feature_names_out(['grado_academico']))
educ_onehot_df = pd.concat([educ_df, onehot_df], axis=1)

# Mostrar.
# Aumenta la cantidad de atributos o variables en el conjunto de datos
display(educ_onehot_df)

Est谩 t茅cnica no introduce relaciones ficticias entre categor铆as aunque aumenta la cantidad de atributos o variables en el conjunto de datos si hay mucha cantidad de categor铆as asociadas a la variable a codificar.

Para identificar otras t茅cnicas implementadas en scikit-learn click en:
[Documentaci贸n  de scikit-learn para codificar caracter铆sticas categ贸ricas](https://contrib.scikit-learn.org/category_encoders/)

## 1.5.2 Estandarizaci贸n y Normalizaci贸n

La estandarizaci贸n y la normalizaci贸n de variables n煤mericas son pasos esenciales del preprocesamiento de datos que ayudan a garantizar que los modelos de ML puedan aprender de los datos de manera eficaz, transforman los valores de las variables a una escala similar, garantizando que todas las variables contribuyan por igual al proceso de aprendizaje del modelo. Por ejemplo, ingresos en miles de d贸lares y edad en a帽os est谩n en diferentes escalas. Los modelos pueden dar prioridad a los valores m谩s grandes, lo que provoca un sesgo en las predicciones.


Los temas a explorar a continuaci贸n son:
* **Estandarizaci贸n**: Escalado de puntaje Z (Z-score).
* **Normalizaci贸n**: Escalamiento m铆nimo-m谩ximo.

### Estandarizaci贸n

La **estandarizaci贸n**, tambi茅n conocida como **normalizaci贸n z-score**, es una t茅cnica com煤nmente utilizada en el preprocesamiento de datos para transformar las variables num茅ricas de manera que tengan una media de 0 y una desviaci贸n est谩ndar de 1. su f贸rmula est谩 determinada por:

$$Z = \frac{X-\mu}{\sigma}$$

donde $X$ es el valor observado $\mu$ es la media en el conjunto de datos y $\sigma$ es desviaci贸n est谩ndar en el conjunto de datos.

![Gr谩ficas asociadas (1).png]()

En Python, se puede utilizar la clase `StandardScaler` de la biblioteca `sklearn.preprocessing` para realizar la estandarizaci贸n. Para ello planteemos el ejemplo de la edad:

In [ ]:
# Crear dataframe del ejemplo edad
edad_ls =  [18, 20, 22, 21, 19, 23, 18, 24, 40, 41, 45,34, 25, 30, 32, 24, 35, 38, 76, 90]
data = { 'edad': edad_ls }
edad_df = pd.DataFrame(data)

# Imprimir los primeras 5 instancias
edad_df.head(5)

In [ ]:
# Mostrar estad铆sticas (resumen). Para reforzar estos temas te sugerimos volver a ver los videos de estad铆sticas descriptiva
# Tiene en cuenta la varianza muestral (n-1)
edad_df.describe()

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import StandardScaler
import numpy as np


# Instanciar la clase StandardScaler
escala_puntoZ = StandardScaler()

# Entrenar y transformar. Nueva variable
edad_df['Z_edad'] = escala_puntoZ.fit_transform(edad_df[['edad']])

# Imprimir primeras 5 instancias.  A cada valor le resto mean	33.750000 y lo dividio por std	18.42 (de la varianza poblacional)
print('Media {} y desv铆o est谩ndar {} utilizados '. format(escala_puntoZ.mean_[0], np.sqrt(escala_puntoZ.var_)[0]))
edad_df.head(5)

In [ ]:
# Importar biblioteca
import matplotlib.pyplot as plt

# Crear gr谩fica
fig, axs = plt.subplots(2,1, figsize=(15, 6))
axs[0].hist(edad_df['edad'])
axs[0].set_title("Histograma de 'edad'")
axs[1].hist(edad_df['Z_edad'])
axs[1].set_title("Histograma de 'edad' luego de estandarizar  - Puntaje Z" )
fig.tight_layout()

Los datos no cambian su distribuci贸n.

**Cuando usar**

La puntuaci贸n z es m谩s adecuada si los datos son num茅ricos y se distribuyen de manera aproximadamente normal o sim茅trica. En algoritmos basados en el gradiente como M谩quina de Vectores de Soporte (Support Vector Machine, SVM) Regresi贸n lineal o Regresi贸n log铆stica. Tambi茅n en el An谩lisis de Componentes Principales (Principal Component Analysis, PCA).

### Normalizaci贸n

La normalizaci贸n es otro proceso com煤n en el preprocesamiento de datos que se utiliza para escalar los valores de una variable. A diferencia de la estandarizaci贸n, que centra los datos alrededor de cero y los escala utilizando la desviaci贸n est谩ndar, la normalizaci贸n ajusta los valores en un rango espec铆fico, generalmente entre 0 y 1.




#### Escalamiento m铆nimo-m谩ximo, (Min-Max Scaling)

Existen varios m茅todos de normalizaci贸n, pero uno de los m谩s comunes es el Min-Max Scaling. En este enfoque, se transforman los datos a un rango espec铆fico utilizando la siguiente f贸rmula:



$X_{nueva} = \frac{X - X_{min}}{X_{max} - X_{min}}$




donde $X$ es el valor observado, $X_{min}$ es el valor m铆nimo en el conjunto de datos y $X_{max}$ es el valor m谩ximo en el conjunto de datos. La f贸rmula normaliza los valores a un rango de [0, 1].

Python ofrece la clase `MinMaxScaler()` de `sklearn.preprocessing`.Veamos como se aplica en el ejemplo edad:

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import MinMaxScaler

# Inicializar la clase MinMaxScaler
escalado_MinMax = MinMaxScaler()

# Entrenar y transformar
edad_df['MINMAX_edad'] = escalado_MinMax.fit_transform(edad_df[['edad']])

# Imprimir las primeras 5 instancias
edad_df.head(5)

In [ ]:
# Crear gr谩fica
fig, axs = plt.subplots(2,1, figsize=(15, 6))
axs[0].hist(edad_df['edad'])
axs[0].set_title("Histograma de 'edad'")
axs[1].hist(edad_df['MINMAX_edad'])
axs[1].set_title("Histograma de 'edad' luego de normalizar por M铆nimo-M谩ximo " )
fig.tight_layout()


Como se puede ver en la f贸rmula, el escalado m铆nimo-m谩ximo conserva el orden relativo de los valores, pero los comprime en un rango espec铆fico. El escalamiento Min-Max es ideal cuando los datos no siguen una distribuci贸n normal y es importante mantener la relaci贸n entre los valores originales. Este m茅todo ajusta los datos a un rango espec铆fico, como [0, 1], siendo 煤til en modelos sensibles a magnitudes absolutas, m茅todos basados en distancias (por ejemplo, k-means o K-Nearest Neighbors). Evite usarlo si los datos contienen valores at铆picos, ya que estos pueden comprimir el rango de los valores restantes.

Otras normalizaciones:
* MaxAbsScaler: escala cada variable por su valor absoluto m谩ximo. Rango [-1, 1].
* RobustScaler: resulta particularmente 煤til cuando se trabaja con conjuntos de datos que contienen valores at铆picos.

Todos estos y muchos m谩s est谩n implementados en scikit-learn, click en:[Documentaci贸n de preprocesamiento ](https://scikit-learn.org/stable/modules/preprocessing.html)

### 1.5.3 Manejo de valores at铆picos (outliers)

La detecci贸n y eliminaci贸n de valores at铆picos es un proceso importante en el preprocesamiento de datos. Definir qu茅 es un valor at铆pico es una tarea dif铆cil. Un definici贸n de valores at铆picos es que son valores que se desv铆an significativamente de la mayor铆a de los puntos de datos en un conjunto de datos.

Estos valores at铆picos pueden ser causados por errores de medici贸n, anomal铆as en los datos o eventos raros. La definici贸n de valores at铆picos implica reconocer los puntos de datos que no se ajustan al comportamiento esperado de los datos y comprender el contexto en el que ocurren.

Los temas a explorar:
* **Identificaci贸n de valores at铆picos**: Visualizaci贸n por Diagrama de caja (Box-plot). M茅todo por Rango Intercuartil (Interquartile Range, IQR). M茅todo por puntuaci贸n Z (z-score). Conocimiento de dominio.
* **Eliminaci贸n de valores at铆picos**.

![Gr谩ficas asociadas (3).png]()

#### Identificaci贸n de valores at铆picos univariados
Los valores at铆picos univariados se producen cuando se observa un valor extremo en una sola variable, independientemente de los valores de otras variables. Se detectan en funci贸n de la distribuci贸n de una sola variable y, a menudo, se identifican mediante visualizaciones o m茅todos estad铆sticos como el puntaje Z o el IQR.
En la siguiente parte, crearemos una de las visualizaciones m谩s comunes para identificar valores at铆picos.

Continuamos trabajando con el ejemplo de edad.

#### Visualizaci贸n por Diagrama de caja (Box-plot)

In [ ]:
# Diagrama de caja
fig, ax = plt.subplots(figsize=(15, 3))
ax.boxplot(edad_df['edad'], vert=False)
ax.set_title("Diagrama de caja (Box Plot) para 'edad'")

![Gr谩ficas asociadas (2).png]()

En un boxplot, los l铆mites del bigote representan los valores m铆nimo y m谩ximo dentro de un rango aceptable de valores. Estos l铆mites se utilizan para identificar los valores at铆picos (outliers) en el conjunto de datos.  
Cualquier valor que est茅 por encima del l铆mite superior del bigote o por debajo del l铆mite inferior del bigote se considera un valor at铆pico y se muestra individualmente en el diagrama de caja como un punto o asterisco.

Ahora que hemos visto este gr谩fico, estamos empezando a formular algunas hip贸tesis sobre la existencia de valores at铆picos espec铆ficamente en edad. El siguiente paso es utilizar algunos m茅todos estad铆sticos para validar estas
hip贸tesis, comenzando con el m茅todo de IQR, que es esta presente en el Diagrama de caja ya que determina los limites del bigote.

#### M茅todo por Rango Intercuartil (Interquartile Range, IQR)

El IQR es una medida de dispersi贸n estad铆stica que representa el rango entre el tercer cuartil (Q3) y el primer cuartil (Q1) en un conjunto de datos.

Espec铆ficamente, este m茅todo se aplica calculando la siguiente f贸rmula:

* L铆mite inferior del bigote: $Q1 - 1.5 \cdot IQR$
* L铆mite superior del bigote: $Q3 + 1.5  IQR$

donde $IQR$ = rango intercuartil

Recordatorio: c贸mo calcular el IQR

* Calcular Q1 (percentil 25): Identifica el valor por debajo del cual se encuentra el 25 % de los datos ordenados.
* Calcular Q3 (percentil 75): Identifica el valor por debajo del cual se encuentra el 75 % de los datos ordenados.
* Calcular el IQR: Q3 - Q1.

Es importante se帽alar que la elecci贸n del multiplicador (en este caso, 1.5) es algo arbitrario, pero se ha adoptado ampliamente en la pr谩ctica. Ajustar este multiplicador puede hacer que el m茅todo sea m谩s o menos sensible a posibles valores at铆picos. Por ejemplo, el uso de un multiplicador m谩s grande dar铆a como resultado l铆mites m谩s amplios, lo que podr铆a identificar m谩s puntos de datos como posibles valores at铆picos, mientras que un multiplicador m谩s peque帽o har铆a que el m茅todo fuera menos sensible.

In [ ]:
# Calcular cuart铆les
Q1 = edad_df['edad'].quantile(0.25)
Q3 = edad_df['edad'].quantile(0.75)

# Calcular rango intercualt铆lico
IQR = Q3 - Q1

# Calcular l铆mites
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Detectar valores at铆picos
atipicos_IQR_df = edad_df[(edad_df['edad'] < limite_inferior) | (edad_df['edad'] > limite_superior)]

# Imprimir resultados
print("Atipicos en 'edad' por IQR:")
atipicos_IQR_df['edad']

El m茅todo IQR es simple de aplicar, es conveniente en datos no distribuidos normalmente Sin embargo, tiene ciertas desventajas como el tama帽o de la muestra, especialmente en conjuntos de datos m谩s peque帽os, puede afectar a su precisi贸n a la hora de reflejar la verdadera dispersi贸n de los datos. Detecta at铆picos solo en una variable a la vez, lo que puede ser insuficiente si los valores at铆picos est谩n en combinaciones de variables (at铆picos multivariados).

#### M茅todo de puntuaci贸n Z (Z-score)
El m茅todo de puntuaci贸n Z es una t茅cnica estad铆stica que se utiliza para identificar valores at铆picos univariados en un conjunto de datos midiendo en qu茅 medida los puntos de datos individuales se desv铆an de la media en t茅rminos de desviaciones est谩ndar. Recordemos la f贸rmula de puntuaci贸n Z ya vista:


$$Z = \frac{X-\mu}{\sigma}$$

donde $X$ es el valor observado $\mu$ es la media en el conjunto de datos y $\sigma$ es desviaci贸n est谩ndar en el conjunto de datos.

Normalmente, se elige una puntuaci贸n Z umbral para determinar los valores at铆picos. **Los umbrales que se utilizan habitualmente son Z > 3 o Z < 3, lo que indica que los puntos de datos que se desv铆an m谩s de tres desviaciones est谩ndar de la media se consideran valores at铆picos**.

![Gr谩ficas asociadas NORM.png]()

In [ ]:
# Importar biblioteca
from scipy import stats
from sklearn.preprocessing import StandardScaler
import numpy as np

# Calcular puntajes Z (Z-Scores) usando stats . Tambi茅n se podr铆a utilizar StandardScaler() de sklearn
z_puntaje_edad = np.abs(stats.zscore(edad_df['edad'])) ## para trabajar con valores positivos
edad_df['edad_z_puntaje'] = z_puntaje_edad

# Setear umbral de puntaje z
z_umbral = 3

# Identificar valor at铆pico
atipicos_estandar_df = edad_df[edad_df['edad_z_puntaje'] >  z_umbral]

# Imprimir resultados
display("Atipicos en 'edad' por puntaje Z :",atipicos_estandar_df['edad'])

Si graficamos las puntuaciones Z para cada observaci贸n y caracter铆stica de los datos, ya podemos empezar a detectar algunos valores at铆picos.
En este gr谩fico de dispersi贸n de puntuaciones Z, cada punto representa la puntuaci贸n Z de un punto de datos individual. La l铆nea discontinua roja indica el umbral de puntuaci贸n Z elegido (en este caso, 3). Los valores at铆picos se identifican como puntos por encima de este umbral.

Continuando con el ejemplo, en edad hay un valor at铆pico claramente capturado.

In [ ]:
# Crear gr谩fica
fig, ax = plt.subplots(figsize=(15, 3))
ax.scatter(edad_df['edad_z_puntaje'], edad_df['edad_z_puntaje'], color='blue', label='Z-Scores')
ax.set_title("Puntajes Z (Z-Scores) para 'edad'")
plt.axhline(y=z_umbral, color='red', linestyle='--', label='Umbral')
plt.legend()

La puntuaci贸n z es 煤til para detectar valores at铆picos en datos que se distribuyen de forma aproximadamente normal.

**驴C贸mo elegir el umbral correcto para la puntuaci贸n Z?**

Una puntuaci贸n Z le indica a cu谩ntas desviaciones est谩ndar se encuentra un punto de datos con respecto a la media. En una distribuci贸n normal, lo siguiente es cierto:
* Aproximadamente el 68 % de los datos se encuentra dentro de una desviaci贸n est谩ndar de la media.
* Aproximadamente el 95 % de los datos se encuentra dentro de dos desviaciones est谩ndar
* Aproximadamente el 99,7 % de los datos se encuentra dentro de tres desviaciones est谩ndar.

Esto significa que a menudo se utiliza un umbral de puntuaci贸n Z de 3 porque captura valores que est谩n extremadamente alejados
de la media, lo que identifica los valores at铆picos m谩s extremos. En una distribuci贸n perfectamente normal, solo el 0,3 % de los puntos de datos tendr谩 una puntuaci贸n Z mayor que 3 o menor que -3. Esto lo convierte en un umbral razonable para detectar valores at铆picos que es poco probable que formen parte de la distribuci贸n normal de datos.

#### Conocimiento del dominio

Para entender mejor el uso del conocimiento del dominio en la detecci贸n de valores at铆picos, retomemos el ejemplo de la edad.

Supongamos que el conjunto de datos representa la edad de clientes de un banco. En Argentina, se considera adulto una persona de 15 a帽os o m谩s. En base a ejemplo y por reglas del banco, se espera que la edad de una cliente bancario est茅 entre 15 a 100 a帽os. Se asume que cualquier edad fuera de este rango podr铆a considerarse un valor at铆pico. Al aprovechar el conocimiento del dominio bancario, podemos establecer estos l铆mites para identificar posibles valores at铆picos. Por ejemplo, si la edad de un cliente se registra como 120, probablemente se marcar铆a como un valor at铆pico porque excede la edad m谩xima posible de 100. De manera similar, las edades menores a 15 a帽os. Integrar el conocimiento del dominio de esta manera nos permite establecer umbrales significativos para la detecci贸n de valores at铆picos, lo que garantiza que el an谩lisis se alinee con las normas esperadas dentro del contexto bancario.

### Eliminaci贸n de valores at铆picos
La eliminaci贸n de valores at铆picos se refiere al proceso de remover puntos de datos en un conjunto de datos que se consideran inusualmente extremos o desviados del patr贸n general de los datos. La eliminaci贸n de valores at铆picos tiene sus pros y sus contras.
Por un lado, es la forma m谩s sencilla de lidiar con valores extremos. Por otro lado, conduce a una reducci贸n en el tama帽o de la muestra y a una posible p茅rdida de informaci贸n valiosa. Adem谩s, si los valores at铆picos no son errores genuinos sino que reflejan una variabilidad leg铆tima en los datos, su eliminaci贸n puede introducir sesgo.

Volviendo al ejemplo de edad, vamos a eliminar valores atipicos por M茅todo IQR:

In [ ]:
# Seleccionar edad dentro de los limites
datos_sinAtipicos_IQR_df = edad_df[(edad_df['edad'] >= limite_inferior) & (edad_df['edad'] <= limite_superior)]
display("Estad铆stica para 'edad' con valores at铆picos ",edad_df['edad'].describe())
display("Estad铆stica para 'edad' sin valores at铆picos por IQR ",datos_sinAtipicos_IQR_df['edad'].describe())

Los cambios observados despu茅s de la eliminaci贸n de los valores at铆picos se describen a continuaci贸n:
* **Cambio de la edad media**: la edad media, despu茅s de eliminar los valores at铆picos, disminuy贸 ligeramente de 33,75 a
aproximadamente 28,27. Esta reducci贸n sugiere que los valores at铆picos eliminados eran individuos mayores.
* **Cambio de la desviaci贸n est谩ndar para la edad**: la desviaci贸n est谩ndar para la edad disminuy贸 de 18,90 a 8,75, lo que indica que la dispersi贸n de edades se volvi贸 ligeramente m谩s estrecha despu茅s de la eliminaci贸n de los valores at铆picos, lo que
probablemente contribuy贸 a una mayor variabilidad en el conjunto de datos original.
*  **Valores m铆nimos y m谩ximos de edad**: la edad m铆nima permaneci贸 igual, 18, mientras que la edad m谩xima disminuy贸 de 90 a 45, lo que indica que los individuos mayores (posibles valores at铆picos) se eliminaron durante el manejo de los valores at铆picos.


La eliminaci贸n de valores at铆picos condujo a una disminuci贸n tanto de la edad media como de la desviaci贸n est谩ndar, as铆 como a un ligero aumento de la puntuaci贸n media de la prueba. Si bien la eliminaci贸n de valores at铆picos puede mejorar la calidad de los datos, especialmente cuando se deben a errores de entrada de datos o imprecisiones de medici贸n, tambi茅n reduce la variabilidad del conjunto de datos. Si los valores at铆picos representan una variabilidad real en la poblaci贸n, su eliminaci贸n podr铆a distorsionar la imagen general de los datos. Para el ejemplo de edad, no estar铆amos contemplado a los adultos mayores. Por lo tanto, se debe considerar cuidadosamente si los valores at铆picos representan puntos de datos genuinos o errores.


**Impacto de los valores at铆picos**

* **Estad铆sticas de resumen distorsionadas**: los valores at铆picos pueden distorsionar significativamente las estad铆sticas de resumen, dando una impresi贸n err贸nea de las tendencias centrales de los datos:

  * Media y mediana: la media, una medida com煤n de tendencia central, puede verse muy afectada por los valores at铆picos. Un valor at铆pico con un valor mucho mayor o menor que el resto puede inclinar la media en su direcci贸n. Por otro lado, la mediana est谩 determinada por el valor medio de un conjunto de datos ordenados. Sirve efectivamente como el punto central que divide los datos en dos mitades iguales, haci茅ndolos menos susceptibles a la influencia de valores extremos.
  * Varianza y desviaci贸n est谩ndar: los valores at铆picos pueden inflar la varianza y la desviaci贸n est谩ndar, haciendo que los datos parezcan m谩s dispersos de lo que realmente est谩n. Esto puede tergiversar la variabilidad de la mayor铆a de los datos.
* **Visualizaciones enga帽osas**: los valores at铆picos pueden distorsionar la escala y la forma de las visualizaciones, lo que genera una interpretaci贸n err贸nea:
  * Diagramas de caja: los valores at铆picos pueden hacer que los diagramas de caja se extiendan excesivamente, lo que hace que la mayor parte de los datos parezcan comprimidos. Esto puede hacer que la distribuci贸n parezca menos dispersa de lo que realmente es.
  * Histogramas: los valores at铆picos pueden generar la creaci贸n de intervalos que capturan solo unos pocos valores extremos, lo que hace que otros intervalos parezcan desproporcionadamente peque帽os y que la forma de la distribuci贸n est茅 distorsionada.

* **Influencia en el rendimiento del modelo**: los valores at铆picos pueden afectar negativamente el rendimiento de los modelos. por ejemplo modelo de regresi贸n y modelos de clustering.

### Resumen y caso de uso

**1. Codificaci贸n de caracter铆sticas categ贸ricas**
* Codificaci贸n de etiqueta (Label encoding)
* Codificaci贸n Ordinal
* Codificaci贸n One-Hot (One-Hot encoding)

**2.Estandarizaci贸n y Normalizaci贸n**
* Estandarizaci贸n: escalado de puntaje Z (Z-score)
* Normalizaci贸n: escalado por m铆nimo-m谩ximo.

**3.Detecci贸n y eliminaci贸n de valores at铆picos (outliers)**
* Visualizaci贸n por Diagrama de caja (Box-plot)
* M茅todo por Rango Intercuartil (Interquartile Range, IQR)
* M茅todo por puntuaci贸n Z (Z-score)
* Conocimiento de dominio
* Eliminaci贸n de valores at铆picos por IQR

#### Caso de uso
Para recordar los temas, utilicemos el dataset  `certificados-personas-por-fecha-ingreso-provincia-localidad.csv` que se puede descargar desde este [link](https://www.datos.gob.ar/dataset/turismo-certificado-unico-habilitante-para-circulacion-cuhc---verano/archivo/turismo_176dc4bc-7597-4e9b-850d-0d27bcbca8d0). Tambi茅n disponible en plataforma.

El archivo csv contiene datos de certificados emitidos para circular entre las provincias de Argentina, en 茅poca de COVID-19 (2020-2021).

Imagin谩, que te solicitan que realizar un an谩lisis y preparar los datos para luego aplicar alg煤n modelo para detectar agrupamiento de compartamientos de movilidad de provincias o localidades.

Te planteas las preguntas: 驴Qu茅 provincias/localidades presentan mayor cantidad de certificados emitidos y personas solicitante? 驴C贸mo cambia la relaci贸n entre la cantidad de certificados emitidos y personas que lo solicitaron en el tiempo?驴Existe relaci贸n entre las provincias o localidades?

**Caracter铆sticas del conjunto de datos**
* fecha_ingreso: fecha de registro diario. Tipo de dato Fecha ISO-8601 (date).
* destino_provincia: provincia de destino. Tipo de dato Texto (string).
* destino_localidad:localidad de destino. Tipo de dato Texto (string).   
* cantidad_certificados: cantidad de certificados emitidos. Tipo de dato N煤mero entero (integer).  
* cantidad_personas: cantidad de viajeros o personas que los solicitaron. Tipo de dato N煤mero entero (integer).

In [ ]:
# Configurar para conectarse al drive de google si los datos est谩n alojados all铆
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Configurar para trabajar con las carpetas que alojan los datos y notebook. Identificar donde est谩n alojados los datos
import os
# os.chdir() cambia el directorio de trabajo actual a una ruta espec铆fica.
os.chdir('./drive/MyDrive/cs_ia_2024/')

In [ ]:
# Validar el directorio en donde est谩n los datos
os.getcwd()

In [ ]:
# Importar bibliotecas
import pandas as pd
import numpy as np

In [ ]:
# Leer Archivo
ruta_archivo =  './data/certificados-personas-por-fecha-ingreso-provincia-localidad.csv'
certif_df = pd.read_csv(ruta_archivo)
# Primeros 5 registros
certif_df.head(5)

In [ ]:
# Identificar estructura del conjunto de datos
certif_df.info(5)

In [ ]:
# Identificar estad铆stica descriptiva
certif_df.describe(include='all')

 Para empezar a responder la pregunta gu铆a **驴Qu茅 provincias/localidades presentan mayor cantidad de certificados emitidos y personas solicitante?**

Se sabe que las provincias presentan diferentes densidades poblacionales y tuvieron diferentes formas de actuar en la pandem铆a, en algunas de ellas hubo mayores restricciones de circulaci贸n.

In [ ]:
# Analizar la variable n煤merica
certif_df["cantidad_certificados"].hist()

In [ ]:
# Diagrama de caja
fig, ax = plt.subplots(figsize=(12, 3))
ax.boxplot(certif_df["cantidad_certificados"], vert=False)
ax.set_title("Diagrama de caja (Box Plot) para 'cantidad de certificados'")

Se visualiza valores at铆picos

In [ ]:
# Cantidad registros por provincia
certif_df["destino_provincia"].value_counts()

Por conocimiento de dominio y pedido, se decide analizar la provincia de C贸rdoba inicialmente y la cantidad de certificados diarios superior a 20.

In [ ]:
# Seleccionar datos de la provincia de Cordoba
certif_cordoba_df = certif_df[(certif_df["destino_provincia"] == 'Cordoba') & (certif_df["cantidad_certificados"]>20) ]
# Ver estadisticas
certif_cordoba_df.describe(include='all')

In [ ]:
# Diagrama de caja de variable n煤merica
fig, ax = plt.subplots(figsize=(12, 3))
ax.boxplot(certif_cordoba_df["cantidad_certificados"], vert=False)
ax.set_title("Diagrama de caja (Box Plot) para 'cantidad de certificados' - C贸rdoba")

In [ ]:
# M茅todo IQR para identificar valores at铆picos
# Calcular cuartiles
Q1 = certif_cordoba_df['cantidad_certificados'].quantile(0.25)
Q3 = certif_cordoba_df['cantidad_certificados'].quantile(0.75)
# Calcular rango intercualt铆lico
IQR = Q3 - Q1

# Calcular limites
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Detectar valores at铆picos
atipicos_IQR_df = certif_cordoba_df[(certif_cordoba_df['cantidad_certificados'] < limite_inferior) | (certif_cordoba_df['cantidad_certificados'] > limite_superior)]

# Imprimir resultados
print("Atipicos en 'cantidad de certificados' por IQR:")
atipicos_IQR_df

Hay valores extremos en cantidad de certificados entre las localidades de C贸rdoba. Se pretende empezar a responder **驴C贸mo cambia la relaci贸n entre la cantidad de certificados emitidos y personas que lo solicitaron en el tiempo?** antes de remover datos at铆picos para identificar otros comportamientos.

In [ ]:
# Convertir dato de fecha a tipo datetime
certif_cordoba_df['fecha_ingreso'] = pd.to_datetime(certif_cordoba_df['fecha_ingreso'])
certif_cordoba_df['fecha_ingreso'].describe()

In [ ]:
# Crear visualizaci贸n de l铆nea
fig, ax = plt.subplots(figsize=(15, 5))
ax.plot(certif_cordoba_df['fecha_ingreso'],certif_cordoba_df['cantidad_certificados'])
plt.xticks(rotation=90)
plt.show()

Se identifica que hay fechas con comportamiento particular. En cuanto a la pregunta **驴Existe relaci贸n entre las localidades?**

Para empezar a responder esta pregunta se codifica la variable 'destino_localidad' y se normaliza por m铆nimo y m谩ximo para identificar visualmentes relaciones.

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import LabelEncoder

# Inicializar la clase LabelEncoder para codificar la variable destino_localidad
codif_etiqueta = LabelEncoder()

# Entrenar y transformar.Se asigna un n煤mero por orden alfab茅tico
certif_cordoba_df['destino_localidad_codificada'] = codif_etiqueta.fit_transform(certif_cordoba_df['destino_localidad'])

# Mostrar datos
certif_cordoba_df

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import MinMaxScaler

# Inicializar la clase MinMaxScaler
escalado_MinMax = MinMaxScaler()

# Entrenar y transformar
certif_cordoba_df['destino_localidad_codificada'] = escalado_MinMax.fit_transform(certif_cordoba_df[['destino_localidad_codificada']])

# Imprimir las primeras 5 instancias
certif_cordoba_df.head(5)

In [ ]:
# Importar biblioteca
import seaborn as sns

g = sns.PairGrid(certif_cordoba_df)
g.map(sns.scatterplot)

En base a la exploraci贸n de datos inicial, se observa que hay que definir la estrateg铆a de an谩lisis, 驴por provincias o por localidades?. Se observa valores at铆picos. Hay fechas con picos de cantidad de certificados emitidos. Mediante la c贸dificaci贸n de la variable 'destino_localidad' no se observa relaci贸n lineal aunque podr铆a haber valores at铆picos por cantidad de certificados emitidos diariamente. Para trabajar con localidades o provincia ser铆a conveniente utilizar codificaci贸n One-Hot por su car谩cter nominal y ver relaciones.


### Referencia

Zervou, M. (2024). Python Data Cleaning and Preparation Best Practices: A Practical Guide to Organizing and Handling Data from Various Sources and Formats Using Python. (n.p.): Packt Publishing.

Mukhiya, S. K., Ahmed, U. (2020). Hands-On Exploratory Data Analysis with Python: Perform EDA Techniques to Understand, Summarize, and Investigate Your Data. Alemania: Packt Publishing.

McKinney, W. (2012). Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython. Reino Unido: O'Reilly Media.

Hastie, T., Tibshirani, R., Friedman, J. H. (2001). The Elements of Statistical Learning: Data Mining, Inference, and Prediction. Alemania: Springer.